@(rc:PlayRequestContext, pickled:String)

@import routes.javascript._

<!DOCTYPE html>

@isProd = @{ play.api.Play.isProd(play.api.Play.current) }

<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Querki: Loading...</title>

    <!-- TODO: aggregate all these CSS files together, to reduce queries. -->    
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/jquery-ui-1.10.0.custom.css")">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap.css")">
    <!-- This padding is needed for the top navbar. Bootstrap doc says to put it between the main and responsive CSS: -->
    <style>
      body {
        padding-top: 40px;
      }
    </style>
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap-theme.css")">
    <!-- TODO: these really should adhere to the facade somehow! -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/webjars/org.webjars/bootstrap-datepicker/1.4.0/css/bootstrap-datepicker3.min.css">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/webjars/org.webjars/jstree/3.2.1/themes/default/style.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/manifest.css")">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/notifications.css")">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")">
	<link rel="stylesheet" href="@routes.Assets.at("stylesheets/conversations.css")">
    <link rel="stylesheet" media="print" href="@routes.Assets.at("stylesheets/print.css")">

    <link rel="shortcut icon" href="@routes.Assets.at("images/Capital.png")">
    
    @if(isProd) {
      <script src="@routes.Assets.at("querkiclient-jsdeps.min.js")"></script>
      <script src="@routes.Assets.at("querkiclient-opt.js")" type="text/javascript"></script>
    } else {
      <script src="@routes.Assets.at("querkiclient-jsdeps.js")"></script>
      <script src="@routes.Assets.at("querkiclient-fastopt.js")" type="text/javascript"></script>
    }
    
    <script>
      @Html({
		  implicit val request = rc.request
		  
		  import play.core.Router.JavascriptReverseRoute
		  
		  val callC = classOf[play.core.Router.JavascriptReverseRoute]
		  def getRoutes[T](cont:T):Seq[JavascriptReverseRoute] = {
		    val contC:Class[_] = cont.getClass
		    val allMethods = contC.getMethods
		    val calls = allMethods.filter { method =>
		      val returns = method.getReturnType()
		      callC.isAssignableFrom(returns)
		    }
		    calls.map { call => call.invoke(cont).asInstanceOf[play.core.Router.JavascriptReverseRoute] }
		  }
		  
		  // All routes used by the Client should be placed in here. It doesn't provide proper
		  // static typing, but it's better than doing things in a completely stringly fashion.
		  // Use getRoutes to expose all of the entry points in a controller, or else just name
		  // those routes individually if you want more control:
		  play.api.Routes.javascriptRouter("clientRoutes")(
		    (getRoutes(routes.javascript.Application) ++
		     getRoutes(routes.javascript.AdminController) ++
		     getRoutes(routes.javascript.ClientController) ++
		     getRoutes(routes.javascript.TOSController) ++
		     getRoutes(routes.javascript.LoginController) ++
		     getRoutes(routes.javascript.PhotoController)
		    ):_*
		  ).toString
		})
    </script>
    
    <script src="@routes.Assets.at("querkiclient-launcher.js")" type="text/javascript"></script>
    
    <script>
      var pickledJSON = @Html(pickled)
    
      $(function() {
        var client = querki.client.QuerkiClient();
  
        client.pageManager.setImagePath('@routes.Assets.at("images")');
        
        client.dataSetting.unpickleRequest(JSON.stringify(pickledJSON));

        // This should come last -- it causes the page to actually render:      
        var root = $("#_root").get(0);
        client.pageManager.setRoot(window, root);
      });
    </script>
  </head>
  <body id="_root">
  </body>
</html>
