@(rc:PlayRequestContext, pickled:String, loading:String, mode:play.api.Mode.Mode)

@import routes.javascript._

<!DOCTYPE html>

@isProd = @{ mode == play.api.Mode.Prod }

@loadMsg = @{ s"Loading${loading}..." }

<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- TODO: bake codemirror into the main Querki download, and minimize it. Maybe use webjars: -->
      <link rel="preload" href="@routes.Assets.versioned("javascripts/codemirror/lib/codemirror.js")">
    <link rel="stylesheet" href="@routes.Assets.versioned("javascripts/codemirror/lib/codemirror.css")">
    <!-- TODO: write QText and QL modes, but to begin: -->
    <link rel="preload" href="@routes.Assets.versioned("javascripts/codemirror/mode/qtext/qtext.js")">
    <link rel="preload" href="@routes.Assets.versioned("javascripts/codemirror/mode/xml/xml.js")">

    <!-- Preload the interesting bits, to speed things up a little. -->
    @if(isProd) {
      <link rel="preload" href="@routes.Assets.versioned("querkiclient-jsdeps.min.js")" as="script">
      <link rel="preload" href="@routes.Assets.versioned("querkiclient-opt.js")" as="script">
    } else {
      <link rel="preload" href="@routes.Assets.versioned("querkiclient-jsdeps.js")" as="script">
      <link rel="preload" href="@routes.Assets.versioned("querkiclient-fastopt.js")" as="script">
    }

    <title>Querki: @loadMsg</title>

    <!-- TODO: aggregate all these CSS files together, to reduce queries. -->    
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/jquery-ui-1.10.0.custom.css")">
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/bootstrap.css")">
    <!-- This padding is needed for the top navbar. Bootstrap doc says to put it between the main and responsive CSS: -->
    <style>
      body {
        padding-top: 40px;
      }
    </style>
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/bootstrap-theme.css")">
    <!-- TODO: these really should adhere to the facade somehow! -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/webjars/org.webjars/bootstrap-datepicker/1.4.0/css/bootstrap-datepicker3.min.css">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/webjars/org.webjars/jstree/3.2.1/themes/default/style.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/manifest.css")">
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/notifications.css")">
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/main.css")">
	<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/conversations.css")">
    <link rel="stylesheet" media="print" href="@routes.Assets.versioned("stylesheets/print.css")">

    <link rel="shortcut icon" href="@routes.Assets.versioned("images/Capital.png")">
  </head>
  <body id="_root">
    <!-- Proto-menubar, which displays while we're loading the guts of the client. The structure intentionally mimics that
         of the client's own menubar. This will be deleted and replaced once the client is up and running.
      -->
    <div class="container">
      <div class="navbar navbar-default navbar-fixed-top _noPrint" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" id="_index_button" href="/">
              <img src='@routes.Assets.versioned("images/Logo-menubar.png")'>
            </a>
          </div>
        </div>
      </div>
    </div>
    
    <div class="guts container-fluid">
      <div class="row">
        <div class="querki-content col-md-12">
          <p>&nbsp;</p>
          <p><i class="fa fa-spinner fa-pulse fa-fw"></i> @loadMsg</p>
        </div>
      </div>
    </div>
  </body>
    
    @if(isProd) {
      <script src="@routes.Assets.versioned("querkiclient-jsdeps.min.js")"></script>
      <script src="@routes.Assets.versioned("querkiclient-opt.js")" type="text/javascript"></script>
    } else {
      <script src="@routes.Assets.versioned("querkiclient-jsdeps.js")"></script>
      <script src="@routes.Assets.versioned("querkiclient-fastopt.js")" type="text/javascript"></script>
    }
    <script src="@routes.Assets.versioned("javascripts/codemirror/lib/codemirror.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/codemirror/mode/qtext/qtext.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/codemirror/mode/xml/xml.js")"></script>

    <script>
      @Html({
		  implicit val request = rc.request
		  
		  import play.api.routing.JavaScriptReverseRoute
		  
		  val callC = classOf[JavaScriptReverseRoute]
		  def getRoutes[T](cont:T):Seq[JavaScriptReverseRoute] = {
		    val contC:Class[_] = cont.getClass
		    val allMethods = contC.getMethods
		    val calls = allMethods.filter { method =>
		      val returns = method.getReturnType()
		      callC.isAssignableFrom(returns)
		    }
		    calls.map { call => call.invoke(cont).asInstanceOf[JavaScriptReverseRoute] }
		  }
		  
		  // All routes used by the Client should be placed in here. It doesn't provide proper
		  // static typing, but it's better than doing things in a completely stringly fashion.
		  // Use getRoutes to expose all of the entry points in a controller, or else just name
		  // those routes individually if you want more control:
		  play.api.routing.JavaScriptReverseRouter("clientRoutes")(
		    (getRoutes(routes.javascript.Application) ++
		     getRoutes(routes.javascript.ClientController) ++
		     getRoutes(routes.javascript.LoginController) ++
		     getRoutes(routes.javascript.PhotoController) ++
		     getRoutes(routes.javascript.Assets)
		    ):_*
		  ).toString
		})
    </script>
    
    <script src="@routes.Assets.versioned("querkiclient-launcher.js")" type="text/javascript"></script>
    
    <script>
      var pickledJSON = @Html(pickled)
    
      $(function() {
        var client = querki.client.QuerkiClient();
  
        client.pageManager.setImagePath('@routes.Assets.versioned("images")');
        
        client.dataSetting.unpickleRequest(JSON.stringify(pickledJSON));

        // This should come last -- it causes the page to actually render:      
        var root = $("#_root").get(0);
        client.pageManager.setRoot(window, root);
      });
    </script>
</html>
