@(eco:querki.ecology.EcologyMember, rc:PlayRequestContext)

@import helper._

@user = @{ rc.requester }

@main(eco, QuerkiTemplate.Index, "Welcome to Querki", rc) {
	
    <div class="hero-unit">
      <h1>Welcome to <img src="@routes.Assets.versioned("images/Logo-green.png")"></h1>

	@user match {
	  case None => {
        <h3>Please log in</h3>
	    
	  	<div class="row">
	  	  <div class="col-md-6">
		    @form(routes.LoginController.dologin, 'class -> "form-inline") {
		      <input type="text" name="name" id="name" value="" placeholder="Email Address">
		      <input type="password" name="password" id="password" value="" placeholder="Password">
		      <input type="submit" value="Log in" id="login_button" class="btn btn-primary">
		      <p class="col-md-12"><small><a href="@{routes.LoginController.sendPasswordReset}">I've forgotten my password</a></small></p>
		    }
		  </div>
		  
		  <div class="col=md-6">
		    <p>or <a href="/signup/#!_signup" id="signup_button" class="btn btn-primary">Sign up for Querki!</a></p>
		  </div>
		</div>
		
		<p>For more information about Querki, see <a href="http://querki.net/help/#!Learning-Querki">Learning Querki</a> or
		the <a href="http://querki.net/help/#!Querki-Quickstart">Querki Quickstart page</a>.</p>
	  }
      case Some(u) => {
		  <a href="/spaces" class="btn btn-primary">Show my Spaces</a>
	  }
	}
	
	<span id="_pageRendered"></span>
	</div>

}