@(template:QuerkiTemplate.QuerkiTemplate, title: String, rc:PlayRequestContext, addStyles:Boolean = false, forms:Seq[Form[_]] = Seq.empty)(content: Html)

@import play.api.Logger

@import helper._

@import querki.values.SpaceState
@import querki.values.SpaceState._

@Basic = @{ rc.interface[querki.basic.Basic] }
@Core = @{ rc.interface[querki.core.Core] }
@PageEventManager = @{ rc.interface[controllers.PageEventManager] }
@NavSectionMgr = @{ rc.interface[controllers.NavSectionMgr] }

@space = @{ rc.state }
@thing = @{ rc.thing }
@nav = @{ NavSectionMgr.nav(rc) }

@formErrors = @{
  val formsWithErrors = forms.filter(_.hasErrors)
  if (formsWithErrors.isEmpty)
    None
  else
    Some(formsWithErrors.flatMap(errorForm => errorForm.errors.map(error => "'" + errorForm(error.key).value.getOrElse("") + "' is not a legal value")).mkString(", ") + " (see below)")
}

@errors = @{
  val flash = rc.request.flash
  flash.get("error") orElse rc.error orElse formErrors
}
@infoMsg = @{
  rc.request.flash.get("info")
}

@requester = @{ rc.requester }

@ownerId = @{
  space match {
    case Some(s) => s.ownerHandle
    case None => ""
  }
}

@spaceId = @{
  space match {
    case Some(s) => s.toThingId.toString
    case None => ""
  }
}

@displayNavLink(display:String, url:Call, idStr:String, enabled:Boolean) = {
  @if(enabled) {
    <li><a href="@url" @idStr>@Html(display)</a></li>
  } else {
    <li class="disabled"><a>@Html(display)</a></li>  
  }
}

@displayNavDivider = {
  <li class="divider"></li>
}

@strippedTitle(title:String) = @{
  title.filter(c => c.isLetterOrDigit || c == ' ')
}

@displayNavSection(title:String, links:Seq[Navigable]) = {
  @defining(strippedTitle(title)) { stripped =>
    <li class="dropdown"><a data-target="#@stripped" href="#@stripped" class="dropdown-toggle" data-toggle="dropdown">@title <b class="caret"></b></a>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">@for(link <- links) {
        @displayNavigable(link)}
      </ul>
    </li>
  }
}

@displayNavigable(section:Navigable) = @{
  section match {
    case NavLink(display, url, id, enabled) => {
      val idStr = id match {
        case Some(i) => " id=" + i
        case None => ""
      }
      displayNavLink(display, url, idStr, enabled)
    }
    case NavSection(title, links) => displayNavSection(title, links)
    case NavDivider => displayNavDivider
  }
}

<!DOCTYPE html>

@*********************
 * This is the main system template. We'll get fancier as things go,
 * but by and large, all universal template shell should go here.
 *
 * Most of this is adapted from Bootstrap's "fluid" example:
 *   http://twitter.github.com/bootstrap/examples/fluid.html
 ********************@

<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>@Html(title)</title>
        <!-- TODO: we need to make this CSS responsive! But that may require jQuery Mobile... -->
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/jquery-ui-1.10.0.custom.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/jquery.ui.menubar.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
        <!-- This padding is needed for the top navbar. Bootstrap doc says to put it between the main and responsive CSS: -->
        <style>
          body {
            padding-top: 40px;
          }
        </style>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap-theme.css")">
        <!-- <link type="text/css" rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/jquery.selectboxit/3.6.0/jquery.selectBoxIt.css" /> -->
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/manifest.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        
        <script src="//cdn.jsdelivr.net/webjars/jquery/2.1.3/jquery.js"></script>
        <script src="@routes.Assets.at("javascripts/jquery.manifest-forked.min.js")"></script>
        <script src="@routes.Assets.at("javascripts/jquery-ui-1.10.0.custom.js")"></script>
        <script src="@routes.Assets.at("javascripts/jquery.ui.touch-punch.min.js")"></script>
        <script src="@routes.Assets.at("javascripts/jquery.ui.menubar.js")"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap.js")"></script>
        <script src="@routes.Assets.at("javascripts/jquery.autosize-min.js")"></script>
        <script src="@routes.Assets.at("javascripts/jquery.raty.min.js")"></script>
        <script src="@routes.Assets.at("javascripts/jquery.histogram.js")"></script>
        <script src="@routes.Assets.at("javascripts/querki-common.js")"></script>
        
        @PageEventManager.addHeaders(rc, template)

        <link rel="stylesheet" media="print" href="@routes.Assets.at("stylesheets/print.css")">

        <link rel="shortcut icon" href="@routes.Assets.at("images/Capital.png")">
        
		<script>
		$(function() {
		    // Bootstrap and jQuery UI both have conflicting .button functions. This is a
		    // Bootstrap function to turn it into "btn" instead. See:
		    // https://github.com/twitter/bootstrap/issues/6094
//		    var btn = $.fn.button //.noConflict()
//		    $.fn.btn = btn
			// At this point, we are now preferring Bootstrap buttons instead, and disabling
			// the jQuery UI ones.
		    
			$("#querkiBar").menubar({
				autoExpand: false,
				menuIcon: true,
				buttons: false
			});
			
			$("#identityMenu").position({
				my: "right",
				at: "right"
			});
			
			finalSetup("@ownerId", "@spaceId", $('body'));
		});

		</script>
		
	<style>
		#querkiBar { margin: 0 0 0 0; }
		
		/*
		 * Workaround for what seems to be a bug in Bootstrap's theming: this is the text color for the
		 * links in the collapsed menus. Bootstrap produces this as grayDark, and I can't figure out how
		 * to make it right. 
		 */
		.nav-collapse .nav > li > a, 
		.nav-collapse .dropdown-menu a {
		  color: #ffffff;
		}
		.nav-collapse .dropdown-menu > .disabled > a {
		  color: #999999;
		}
		
		.navbar .brand {
		  padding-top: 5px;
		  padding-bottom: 5px;
		}
		
		body {
		  margin: 0;
		}
		
		.guts {
		  margin: 8px;
		}
		
		._menuSection {
		  color: white;
		}
	    
 	</style>
    </head>
    <body>

        <a id="statusLine" href="#"><span id="statusText"></span></a>
	              
	    @if(!rc.chromeless) {
	    
	      <!-- Bootstrap menus -->
	      <div class="container">
	        <div class="navbar navbar-default navbar-fixed-top _noPrint" role="navigation">
              <div class="container">
                <div class="navbar-header">
	              <!-- This is the bit that takes over when we collapse a small screen -->
                  <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </a>
                  
	              <a class="navbar-brand" href="@routes.Application.index"><img src="@routes.Assets.at("images/Logo-menubar.png")"></a>
	            </div>
                <div class="navbar-collapse collapse">
	                <ul class="nav navbar-nav">
                      @for(section <- nav.sections) {
                        @displayNavigable(section)
                      }
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                      @defining(NavSectionMgr.loginNav(rc)) { section =>
                        @displayNavigable(section)
                      }
	                </ul>
	            </div>
	          </div>
	        </div>
	      </div>
	    }

	<!-- This container stuff is likely to go into a lower-level, Space-rendering template -->
	<div class="guts container-fluid">
      <div class="row">
        <div class="querki-content col-md-12">

		  @errors match {
			case None => {}
			case Some(msg) => { 
		      <div class="alert alert-error">
		        <button type="button" class="close" data-dismiss="alert">x</button>
		        <strong>Error:</strong> @msg
		      </div>
			}
	      }
	      
		  @infoMsg match {
			case None => {}
			case Some(msg) => { 
		      <div class="alert alert-info">
		        <button type="button" class="close" data-dismiss="alert">x</button>
		        @msg
		      </div>
			}
	      }
	      
          <div class="_smallSubtitle _spaceLink _noPrint">&nbsp;</div>
          @content
	
		</div><!--/col-md-12-->
      </div><!--/row-->

      @if(!rc.chromeless) {
      <hr class="_noPrint">

      <footer class="_mainFooter _noPrint">
        Querki &copy; Querki Inc 2013-2015 | <a href="http://www.querki.net/help/">Help</a> | <a href="/TOS">Terms of Service</a>
      </footer>
      }

    </div><!--/.fluid-container-->
    </body>
</html>
