<!DOCTYPE html>

<html>
  <head>
    <title>Testing a simple hello</title>
    <script src="@routes.Assets.at("javascripts/jquery-1.9.0.js")"></script>
  </head>
  <body>
    <script src="@routes.Assets.at("javascripts/querki-client-fastopt.js")" type="text/javascript"></script>
    <!-- TODO: for production (play dist), use the optimized version instead -->
    <!-- <script src="@routes.Assets.at("javascripts/querki-client-opt.js")" type="text/javascript"></script> -->

    <script src="@routes.Assets.at("javascripts/querki-client-launcher.js")" type="text/javascript"></script>
  </body>
</html>
