@(rc:PlayRequestContext)

@import play.api.Logger
@import querki.tags.IsTag

@AccessControl = @{ rc.interface[querki.security.AccessControl] }
@Core = @{ rc.interface[querki.core.Core] }
@HtmlUI = @{ rc.interface[querki.html.HtmlUI] }
@PublicUrls = @{ rc.interface[querki.html.PublicUrls] }

@space = @{ rc.state.get }
@thing = @{
  rc.thing match {
    case Some(t) => t
    case None => space
  }
}
@title = @{ thing.displayName }
@user = @{ rc.requester }
@rawThingId = @{ thing.id.toThingId.toString }

@isRealThing = @{ thing.id != UnknownOID }

@isTag = @{
  thing match {
    case t:IsTag => true
    case _ => false
  }
}

@pageHeaderPV = @{ thing.getPropOpt(HtmlUI.PageHeaderProperty)(space) }
@pageHeader = @{ pageHeaderPV.map(_.v.wikify(thing.thisAsContext(rc)).display.html) }

@canEdit = @{
  user.isDefined && AccessControl.canEdit(space, user.get, thing)
}

@canCreate(t:Thing) = @{
  user.isDefined && modelOpt.isDefined && AccessControl.canCreate(space, user.get, t)
}

@modelOpt = @{ thing.getModelOpt(space) }

@linkTo(t:Thing) = {
  <a href="@routes.Application.thing(rc.ownerId.toThingId, space.toThingId, t.toThingId)">@t.displayNameText.html</a>
}

@nameAsWell = @{
  val linkNameOpt = thing.linkName
  linkNameOpt match {
    case Some(linkName) => Html(s""", Link Name: <a href="${routes.Application.thing(rc.ownerId.toThingId, space.toThingId, thing.toThingId)}">${linkName}</a>""")
    case None => Html("")
  }
}

@advEditButton = {
  <a class="btn btn-mini btn-primary _noPrint" title="Edit @Html(title)" href="@routes.Application.editThing(rc.ownerHandle, space.toThingId, thing.toThingId)"><i class="icon-edit icon-white"></i></a>
}

@main(QuerkiTemplate.Thing, title, rc, true) {

    <div id="_topEdit" style="display:none"></div>

    @if(rc.hasProp) {
    
      @Html(thing.render(rc, rc.prop).display)

    } else {
      @if(pageHeaderPV.isEmpty) {
	    <div class="page-header">
	      <h1 class="_defaultTitle">@Html(title) 
	        @if(thing.ifSet(Core.IsModelProp)(space)) { 
	          @if(canEdit) { @advEditButton }
	          @if(canCreate(thing)) { <a class="btn btn-mini btn-primary _noPrint" title="Create a @Html(title)" href="@PublicUrls.createAndEditUrl(rc, thing.toThingId)"><i class="icon-plus-sign icon-white"></i></a> }
	          <a class="btn btn-mini btn-primary _noPrint" title="Edit all instances of @Html(title)" href="@routes.Application.editInstances(rc.ownerHandle, space.toThingId, thing.toThingId)"><i class="icon-edit icon-white"></i><i class="icon-edit icon-white"></i><i class="icon-edit icon-white"></i>...</a>
	        } else {
	          @if(canEdit) { 
	            @if(isTag) {
	              <a class="btn btn-mini btn-primary _noPrint" title="Edit @Html(title)" href="@routes.Application.editThing(rc.ownerHandle, space.toThingId, thing.toThingId)"><i class="icon-edit icon-white"></i></a>
	            } else { @if(thing.isAncestor(Core.UrProp)(space)) {
	              @advEditButton
	            } else {
  	              <a class="btn btn-mini btn-primary _noPrint _qlInvoke" title="Edit @Html(title)" data-thingid="@thing.toThingId" data-target="_topEdit" data-ql="_edit" href="#"><i class="icon-edit icon-white"></i></a>
  	            } }
	          }
	          @if(modelOpt.isDefined && canCreate(modelOpt.get)) {
	            <a class="btn btn-mini btn-primary _noPrint" title="Create another @{modelOpt.get.displayName}" href="@PublicUrls.createAndEditUrl(rc, modelOpt.get.toThingId)"><i class="icon-plus-sign icon-white"></i>...</a>
	          }
	        }
	      </h1>
	      @modelOpt match { 
	        case Some(model) => {
	          <p class="_smallSubtitle _noPrint">(OID: <a href="@routes.Application.thing(rc.ownerId.toThingId, space.toThingId, rawThingId)">@rawThingId</a>@nameAsWell, 
	            Model: @linkTo(model))
	          </p>
	        }
	        case _ => {}
	      }
	    </div>
	  } else {
	    @pageHeader
	  }
	
      @Html(thing.render(rc).display)
        
      @if(isRealThing) {
        @convPane(rc, thing.id)
      }
	}
}
