@(eco:querki.ecology.EcologyMember, rc:PlayRequestContext, tosForm:Form[TOSForm])

@import helper._

@import querki.system.TOSModule

@main(eco, QuerkiTemplate.SpaceList, "Terms of Service", rc) {

	<h1>Querki Terms of Service</h1>
	
	<p>Please read and agree to the following agreement in order to use Querki.</p>

	<div class="row">
    @form(routes.TOSController.handleTOS) {
      
      <div class="well col-md-offset1 col-md-10">
        @Html(TOSModule.current)
      </div>
      
      <div class="col-md-12">
      <p><input type="checkbox" id="agreed" name="agreed"> I agree to the above Terms and Conditions.</p>
      <input type="hidden" id="version" name="version" value="@TOSModule.currentVersion.version">
      
      <input type="submit" value="Submit" class="btn btn-primary">
      </div>
    }	
    </div>

        
}