@(rc:PlayRequestContext, thingIdRaw:OID)

@space = @{ rc.state.get }
@ownerId = @{ space.owner.toThingId }
@spaceId = @{ space.toThingId }
@thingId = @{ thingIdRaw.toThingId }
@requester = @{ rc.requesterOrAnon }
@thing = @{ rc.thing.get }

@Conversations = @{ rc.interface[querki.conversations.Conversations] }

@localIdentityOpt = @{ rc.localIdentity }

@canComment = @{ localIdentityOpt.map(identity => Conversations.canWriteComments(identity.id, thing, space)).getOrElse(false) }

<script type="text/javascript" src='@routes.ConversationController.javascriptRoutes()'></script>
<script src="@routes.Assets.at("javascripts/moment.min.js")"></script>
<script src="@routes.Assets.at("javascripts/conversations.js")"></script>
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/conversations.css")">

<script>
  // Initialize and load the conversations when this pane is loaded:
  $(function() {
    loadConversations("@ownerId", "@spaceId", "@thingId", $('#conversations'), @canComment);
  });
</script>

<h4 class="_commentsHeader">Comments</h4>

<!-- Conversations will be injected dynamically into this div. -->
<a name="conversations"></a>
<div id="conversations" class="_conversations container"></div>

<div id="_addCommentTemplate" class="_addComment row-fluid" style="display:none">
  <div class="offset2 span8">
    <textarea class="_commentInput _largeTextEdit" placeholder="Reply here..."></textarea>
    <input type="button" value="Post Comment" class="_postCommentButton btn btn-info btn-mini">
  </div>
</div>

<div id="_convThreadTemplate" class="_convThread row-fluid" style="display:none">
  <div class="_commentContainer offset2 span8">
  </div>
</div>

<div id="_commentTemplate" class="_comment" style="display:none">
  <a name="" class="_commentLink"></a>
  <div class="_commentHeader">
    <span class="_commentAuthor"></span>
    <span class="_commentTime"></span>
  </div>
  <div class="_commentText">
  </div>
</div>
