@(user:User, space:SpaceState, propsSoFar:Seq[((Property[_,_,_], Option[String]), Int)], errors:Option[String] = None)

@import helper._
@import helper.twitterBootstrap._

@import models.system.SystemSpace._

@showProperty(prop:Property[_,_,_], v:Option[String], i:Int) = {
  <p>
    <label>@Html(prop.getProp(PromptProp).renderOr(prop.getProp(NameProp).render).raw)</label>
    <input type="text" name="value[@i]" value="@v" placeholder="@prop.getProp(PlaceholderTextProp).renderIfDefined.raw">
	<input type="hidden" name="field[@i]" value="@prop.id.toString">
  </p>
}
@showProp(tupl:((Property[_,_,_], Option[String]), Int)) = @{
  val ((prop, v), i) = tupl
  showProperty(prop, v, i)
}

@main("Create a Thing", None, NavSection.spaceNav(space), errors) {
		
	<div class="page-header">
	  <h1>Create a New Thing</h1>
	</div>
	
	@form(routes.Application.doCreateThing(space.id.toString), 'class -> "form-inline") {
	  <fieldset>
        @for(propPair <- propsSoFar) {
          @showProp(propPair)
        }
	  
	    <input type="submit" value="Create" class="btn btn-primary">
	  </fieldset>
	}
}