@(user:User, candidateModels:Iterable[Thing], propsSoFar:Seq[((Property[_,_,_], Option[String]), Int)], otherProps:Seq[Property[_,_,_]], errors:Option[String] = None)(implicit space:SpaceState)

@import helper._
@import helper.twitterBootstrap._

@import models.system.SystemSpace._

@showInputControl(prop:Property[_,_,_], v:Option[String], i:Int) = {
  @if(prop.pType == LargeTextType) {
    <textarea name="value[@i]" placeholder="@prop.getProp(PlaceholderTextProp).renderIfDefined.raw">@v</textarea>
  } else {
    <input type="text" name="value[@i]" value="@v" placeholder="@prop.getProp(PlaceholderTextProp).renderIfDefined.raw">
  }
}

@showProperty(prop:Property[_,_,_], v:Option[String], i:Int) = {
  <div class="control-group">
    <label class="control-label">@Html(prop.getProp(PromptProp).renderOr(prop.getProp(NameProp).render).raw)</label>
    <div class="controls">
      @showInputControl(prop, v, i)
    </div>
	<input type="hidden" name="field[@i]" value="@prop.id.toString">
  </div>
}
@showProp(tupl:((Property[_,_,_], Option[String]), Int)) = @{
  val ((prop, v), i) = tupl
  showProperty(prop, v, i)
}

@main("Create a Thing", None, NavSection.spaceNav(space), errors) {
		
	<div class="page-header">
	  <h1>Create a New Thing</h1>
	</div>
	
	@form(routes.Application.doCreateThing(space.id.toString), 'class -> "form-horizontal") {
	  <fieldset>
        @for(propPair <- propsSoFar) {
          @showProp(propPair)
        }
        
        <div class="control-group">
          <input type="submit" class="control-label btn" value="Add a Property:">
          <div class="controls">
            <select name="addedProperty">
              <option value="">Choose a Property</option>
              @for(prop <- otherProps) {
                <option value="@prop.id.toString">@prop.getProp(NameProp).render.raw</option>
              }
            </select>
          </div>
        </div>
	  
	    <div class="control-group">
	      <div class="controls">
	        <input type="submit" value="Create" class="btn btn-primary">
	      </div>
	    </div>
	  </fieldset>
	}
}