@(rc:RequestContext, model:Thing, candidateModels:Iterable[Thing], propsSoFar:Seq[(Property[_,_], DisplayPropVal)], otherProps:Seq[Property[_,_]])

@import language.existentials

@import helper._
@import helper.twitterBootstrap._

@import play.api.Logger

@import models.system._
@import models.system.SystemSpace._

@import models.Property._

@import querki.html._

@thing = @{ rc.thing }
@space = @{ rc.state.get }
@isEdit = @{ thing.isDefined }
@isCreate = @{ !isEdit }

@isSubCreate = @{ rc.isTrue("subCreate") }

@showInputControl(prop:Property[_,_], v:DisplayPropVal, i:Int) = {
  @HtmlRenderer.renderPropertyInput(space, prop, v)
}

@editButtonClass(v:DisplayPropVal) = @{
  if (v.isInherited)
    "edit-button"
  else
    "revert-button"
}

@showProperty(prop:Property[_,_], v:DisplayPropVal, i:Int) = {
  <div class="control-group @{if(v.isInherited) "inherited"}">
    <label class="control-label">@Html(prop.getProp(PromptProp)(space).renderPlainOr(prop.getProp(NameProp)(space).renderPlain).raw)
      @if(v.hasInheritance) {
        &nbsp;&nbsp;<button data-empty="@v.emptyControlId" data-model-name="@v.inheritedFrom.get.displayName" data-edits="@v.inputControlId" class="@editButtonClass(v) btn-mini">&nbsp;</button>
      } else {
        &nbsp;&nbsp;<button data-empty="@v.emptyControlId" data-edits="@v.inputControlId" class="trash-button btn-mini">&nbsp;</button>      
      }
    </label>
    <div class="controls">
      @showInputControl(prop, v, i)
    </div>
	<input type="hidden" name="field[@i]" value="@prop.id.toString">
	<input type="hidden" name="@v.emptyControlId" id="@v.emptyControlId" value="@v.isInherited.toString">
  </div>
}
@showProp(tupl:((Property[_,_], DisplayPropVal), Int)) = @{
  val ((prop, v), i) = tupl
  showProperty(prop, v, i)
}

@pageTitle = @{
  if (isEdit)
    "Editing " + thing.get.displayName
  else
    "Create a " + model.displayName
}

@main(QuerkiTemplate.Edit, pageTitle, rc) {

    <script>
    
      // This is essentially a jQuery plugin for the concept of "Edit/Revert Buttons"
      (function( $ ) {
        function inputElem(t) {
          var inputId = t.data("edits");
	      return $("#" + inputId);        
        }
        
        function setEmpty(t, v) {
	      var emptyId = "#" + t.data("empty");
	      var $emptyFlag = $(emptyId);
	      $emptyFlag.val(v);        
        }
        
        function setButton(t, icon, title, cb) {
	      t.button({
	        icons: {
	          primary: icon
	        },
	        text: false
	      });
	      t.attr("title", title);
	      t.off("click");
	      t.on("click", cb);          
        }
      
        $.fn.editButton = function () {
          this.each(function () {
	        var modelName = $(this).data("model-name");
	        $inp = inputElem($(this));
	        $inp.attr("title", "Inherited from " + modelName + "; click the Edit button to change");
	        $inp.val("");
	        $inp.attr("disabled", "disabled");
	        setEmpty($(this), "true");
	        setButton($(this), "ui-icon-pencil", "Edit", handleEditButton);   
          });
        }
      
        $.fn.revertButton = function () {
          this.each(function () {
	        var $inp = inputElem($(this));
	        $inp.removeAttr("disabled");
	        var modelName = $(this).data("model-name");
	        $inp.attr("title", "Overriding " + modelName + "; click the Revert button to go back to the model's value");
	        setEmpty($(this), "false");
	        setButton($(this), "ui-icon-trash", "Revert", handleRevertButton);   
          });
        }
    
        $.fn.trashButton = function () {
          this.each(function () {
	        setButton($(this), "ui-icon-trash", "Remove", handleTrashButton);   
          });
        }
        
        function handleTrashButton(evt) {
          setEmpty($(this), "true");      
          $("#redisplay").val("true");
          $("#mainSubmit").submit();
        }
      
        function handleEditButton(evt) {
          $(this).revertButton();

          var $inp = inputElem($(this));
          $inp.focus();

          return false;
        }
      
        function handleRevertButton(evt) {
          $(this).editButton();
          return false;
        }
        
        $.fn.addListItemButton = function () {
          this.each(function () {
            setButton($(this), "ui-icon-circle-plus", "Add Item", handleAddListItem);
          });
        }
        
        $.fn.deleteListItemButton = function () {
          this.each(function () {
            setButton($(this), "ui-icon-circle-minus", "Delete Item", handleDeleteListItem);
          });
        }
        
        $.fn.asManifest = function () {
          this.each(function () {
            var propId = $(this).data('propid');
            $(this).manifest({
		      marcoPolo: {
		        url: 'getTags?propId=' + propId,
		        minChars: 3,
		        formatData: function(data) { return data; },
		        formatItem: function(data, $item) { return data; },
		        formatNoResults: function(q, $item) { return "No existing tag with <b>" + q + "</b> found."; }
		      },
              formatDisplay: function (data, $item, $mpItem) { return data; }
		    });
          });
        }
        
        function dataField(t, fieldName) {
          return "#" + t.data(fieldName);
        }
        
        function viaField(t, fieldName) {
          var controlId = dataField(t, fieldName);
          return $(controlId);
        }
        
        function handleAddListItem(evt) {
          var templateField = $(this).parent().find(".inputTemplate").first();
          var list = $(this).parent().find("ul").first();
          var sizeField = viaField($(this), "size");
          var curSize = Number(sizeField.val());
          var newField = templateField.clone(true);
          newField.attr("name", templateField.data("basename") + "[" + curSize + "]");
          newField.removeClass("inputTemplate");
          newField.show();
          var newLi = $("<li><span class=\"ui-icon ui-icon-arrowthick-2-n-s\"></span></li>");
          newLi.append(newField);
          var delButton = $("<button class=\"delete-item-button btn-mini\">&nbsp;</button>");
          setButton(delButton, "ui-icon-circle-minus", "Delete Item", handleDeleteListItem);
          newLi.append(delButton);
          list.append(newLi);
          sizeField.val(curSize + 1);
          return false;
        }
        
        function handleDeleteListItem(evt) {
          var targetLi = $(this).parent();
          var sortList = targetLi.parent();
          targetLi.detach();
          renumberList(sortList);
          return false;
        }
        
      }( jQuery ));
              
        
      function renumberList(sortList) {
        var allItems = sortList.children("li");
        var templateField = sortList.parent().find(".inputTemplate").first();
        var baseItemName = templateField.data("basename");
        var i = 0;
        allItems.each(function () {
          var listItem = $(this);
          var inputField = listItem.find(".list-input-element");
          inputField.attr("name", baseItemName + "[" + i + "]");
          i = i + 1;
        });        
      }
        
      function onSortFinished(evt, ui) {
        var itemMoved = ui.item;
        var sortList = itemMoved.parent();
        renumberList(sortList);
      }
       
      var selectCreatingNew; 
      function handleLinkSelectChanged(evt) {
        selectCreatingNew = this;
        var optionSelected = $("option:selected", this);
        if (optionSelected.hasClass("_createNewFromModel")) {
          var modelId = optionSelected.data("model");
          $("#create-instance-iframe").attr("src", "@routes.Application.createThing(rc.ownerName, space.toThingId, None)" + "?cl&subCreate=true&model=" + modelId)
		  $("#create-instance-dialog").dialog("open");
		  return false;          
        } 
      }
      
      function onLinkCreated(newThingId, newDisplayName) {
        $(selectCreatingNew).append('<option value="' + newThingId + '" selected="selected">' + newDisplayName + '</option>');
        $("#create-instance-dialog").dialog("close");
      }
    
      $(function() {
        $(".edit-button").editButton();
        $(".revert-button").revertButton();
        $(".trash-button").trashButton();
        $(".add-item-button").addListItemButton();
        $(".delete-item-button").deleteListItemButton();
        $(".inputTemplate").hide();
        $(".sortableList").sortable({
          stop:onSortFinished
        });
        
        $("._largeTextEdit").addClass("span10").autosize();
        
        $("#submitAndAnother").click(function(evt) {
          $("#makeAnother").val("true");
          return true;
        });
        
        $("._linkSelect").change(handleLinkSelectChanged);
		$("#create-instance-dialog").dialog({
		    autoOpen:false,
		    height: 800,
		    width: 700,
			modal: true,
			buttons: {
		      "Cancel": function () {
			    $(this).dialog("close");
			  }
			},
			close: function () {
			}
		});
		
		$("._tagSetInput").asManifest();
      });
    </script>
    
    <div id="create-instance-dialog" title="">
      <iframe id="create-instance-iframe" src="" style="width: 95%; height: 95%"></iframe>
    </div>
    
	<div class="page-header">
	    <h1>@pageTitle</h1>
	</div>
	
	@form(if (thing.isEmpty) { 
	        routes.Application.doCreateThing(rc.ownerName, space.toThingId, Some(isSubCreate))
	      } else { 
	        routes.Application.doEditThing(rc.ownerName, space.toThingId, thing.get.toThingId) 
	      }, 'class -> "form-horizontal") {
	  <fieldset>
	    <input type="hidden" name="model" value="@model.id.toString">
	    
	    <input type="hidden" id="makeAnother" name="makeAnother" value="false">
	    
	    @defining(propsSoFar.zipWithIndex) { allProps =>
          @for(propPair <- allProps) {
            @showProp(propPair)
          }
        }
        <input type="hidden" id="redisplay" name="redisplay" value="">
        
        <div class="control-group">
          <input type="submit" class="control-label btn" value="Add a Property:">
          <div class="controls">
            <select name="addedProperty">
              <option value="">Choose a Property</option>
              @for(prop <- otherProps) {
                <option value="@prop.id.toString">@prop.displayName</option>
              }
            </select>
          </div>
        </div>
	  
	    <div class="control-group">
	      <div class="controls">
	        <input id="mainSubmit" type="submit" value="Done" class="btn btn-primary">
	        @if(isCreate && !isSubCreate) {
	          <input id="submitAndAnother" type="submit" value="Done and Create Another" class="btn">
	        }
	      </div>
	    </div>
	  </fieldset>
	}
}