@(rc:RequestContext, user:User, thing:Option[Thing], model:Thing, candidateModels:Iterable[Thing], propsSoFar:Property.PropList, otherProps:Seq[Property[_,_,_]], errors:Option[String] = None)(implicit space:SpaceState)

@import helper._
@import helper.twitterBootstrap._

@import play.api.Logger

@import models.system._
@import models.system.SystemSpace._

@import models.Property._

@showInputControl(prop:Property[_,_,_], v:Option[String], i:Int) = {
  @if(prop.pType == LargeTextType || prop.pType == CSSTextType) {
    <textarea rows="5" cols="50" name="v-@prop.id.toString" placeholder="@prop.getProp(PlaceholderTextProp).renderIfDefined.raw">@v</textarea>
  }
  
  @if(prop.pType == LinkType) {
    <select name="v-@prop.id.toString">
      @for(candidate <- space.things.values) {
        @if(v.isDefined && (candidate.id.toString == v.get)) {
          <option value="@candidate.id.toString" selected>@candidate.displayName</option>        
        } else {
          <option value="@candidate.id.toString">@candidate.displayName</option>
        }
      }
    </select>    
  }
  
  @if(prop.pType == IntType || prop.pType == TextType || prop.pType == NameType) {
    <input type="text" name="v-@prop.id.toString" value="@v" placeholder="@prop.getProp(PlaceholderTextProp).renderIfDefined.raw">    
  }
  
  @if(prop.pType == YesNoType) {
    <input type="checkbox" name="v-@prop.id.toString">
  }
}

@showProperty(prop:Property[_,_,_], v:Option[String], i:Int) = {
  <div class="control-group">
    <label class="control-label">@Html(prop.getProp(PromptProp).renderOr(prop.getProp(NameProp).render).raw)</label>
    <div class="controls">
      @showInputControl(prop, v, i)
    </div>
	<input type="hidden" name="field[@i]" value="@prop.id.toString">
  </div>
}
@showProp(tupl:((Property[_,_,_], Option[String]), Int)) = @{
  val ((prop, v), i) = tupl
  showProperty(prop, v, i)
}

@main("Create a Thing", rc, None, NavSection.spaceNav(rc), Some(space), thing, errors) {
		
	<div class="page-header">
	  @if(thing.isEmpty) {
	    <h1>Create a New Thing</h1>
	  } else {
	    <h1>Edit @thing.get.displayName</h1>
	  }
	</div>
	
	@form(if (thing.isEmpty) { routes.Application.doCreateThing(rc.ownerName, space.toThingId) } else { routes.Application.doEditThing(rc.ownerName, space.toThingId, thing.get.toThingId) }, 'class -> "form-horizontal") {
	  <fieldset>
	  
	    <div class="control-group">
	      <label class="control-label">Model:</label>
	      <div class="controls">
	        <label>@model.displayName</label>
	      </div>
	    </div>
	    <div class="control-group">
	      <input type="submit" class="control-label btn" value="Change Model:">
	      <div class="controls">
	        <select name="newModel">
	          <option value="">Choose a Model</option>
	          @for(model <- candidateModels) {
	            <option value="@model.id.toString">@model.displayName</option>
	          }
	        </select>
	      </div>
	      <input type="hidden" name="model" value="@model.id.toString">
	    </div>
	  
	    @defining(propsSoFar.zipWithIndex) { allProps =>
          @for(propPair <- allProps) {
            @showProp(propPair)
          }
        }
        
        <div class="control-group">
          <input type="submit" class="control-label btn" value="Add a Property:">
          <div class="controls">
            <select name="addedProperty">
              <option value="">Choose a Property</option>
              @for(prop <- otherProps) {
                <option value="@prop.id.toString">@prop.displayName</option>
              }
            </select>
          </div>
        </div>
	  
	    <div class="control-group">
	      <div class="controls">
	        <input type="submit" value="@if(thing.isEmpty) { Create } else { Change }" class="btn btn-primary">
	      </div>
	    </div>
	  </fieldset>
	}
}