@(rc:RequestContext, model:Thing, candidateModels:Iterable[Thing], propsSoFar:Seq[(Property[_,_], DisplayPropVal)], otherProps:Seq[Property[_,_]])

@import language.existentials

@import helper._
@import helper.twitterBootstrap._

@import play.api.Logger

@import models.system._
@import models.system.SystemSpace._
@import models.system.OIDs.UrPropOID

@import models.Property._

@import querki.html._

@thing = @{ rc.thing }
@space = @{ rc.state.get }
@isEdit = @{ thing.isDefined }
@isCreate = @{ !isEdit }

@isSubCreate = @{ rc.isTrue("subCreate") }

@isForeign = @{ thing.get.spaceId != space.id }

@canEdit = @{
  // Disable if you are trying to edit something in the wrong Space.
  // At least, for now -- eventually, this will be legal, but will be copy-then-edit. 
  !isEdit || !isForeign
}
        
@createCall(prop:Property[_,_], accessor:String) = {
  @defining(FieldIds(None, prop)) { fieldIds =>
        create("@{prop.id.toString}", "@{fieldIds.inputControlId}", @{accessor}());
  }
}

@collExp(coll:Collection) = { data-collection="@{coll.id.toString}" }
@collForType(aType:PType[_]) = @{
  aType.requiredColl.map(collExp(_)).getOrElse("")
}

@propsInSpace(s:SpaceState) = {
  <optgroup label="Properties in @s.displayName">
    @for(prop <- s.propList.toSeq.sortBy(_.displayName)) {
      <option value="@prop.id.toString">@prop.displayName</option>
    }
  </optgroup>
  @{s.app.map(propsInSpace(_))}
}

@cancelButton = {
  @if(isCreate) {
    <a class="cancelButton btn" href="@routes.Application.thing(rc.ownerHandle, space.toThingId, space.toThingId)">Cancel</a>
  } else {
    <a class="cancelButton btn" href="@routes.Application.thing(rc.ownerHandle, space.toThingId, thing.get.toThingId)">Cancel</a>
  }
}

@showInputControl(prop:Property[_,_], v:DisplayPropVal, i:Int) = {
  @HtmlRenderer.renderPropertyInput(space, prop, v)
}

@editButtonClass(v:DisplayPropVal) = @{
  if (v.isInherited)
    "edit-button"
  else
    "revert-button"
}

@setTooltip(prop:Property[_,_]) = {
  @defining(prop.getPropOpt(PropSummary)(space)) { summaryOpt =>
    @if(summaryOpt.isDefined) { title="@{summaryOpt.get.render(prop.thisAsContext(rc)).raw}" }
  }
}

@showProperty(prop:Property[_,_], v:DisplayPropVal, i:Int) = {
  <div id="propGroup-@i" class="control-group @{if(v.isInherited) "inherited"}">
    <label class="control-label _withTooltip" @setTooltip(prop)>@Html(prop.getProp(PromptProp)(space).renderPlainOr(prop.getProp(NameProp)(space).renderPlain).raw)
      @if(v.hasInheritance) {
        &nbsp;&nbsp;<button data-empty="@v.emptyControlId" data-model-name="@v.inheritedFrom.get.displayName" data-edits="@v.inputControlId" class="@editButtonClass(v) btn-mini">&nbsp;</button>
      } else {
        &nbsp;&nbsp;<button data-group="propGroup-@i" data-empty="@v.emptyControlId" data-edits="@v.inputControlId" class="trash-button btn-mini">&nbsp;</button>      
      }
    </label>
    <div class="controls">
      @showInputControl(prop, v, i)
    </div>
	<input type="hidden" name="field[@i]" value="@prop.id.toString">
	<input type="hidden" name="@v.emptyControlId" id="@v.emptyControlId" value="@v.isInherited.toString">
  </div>
}
@showProp(tupl:((Property[_,_], DisplayPropVal), Int)) = @{
  val ((prop, v), i) = tupl
  showProperty(prop, v, i)
}

@pageTitle = @{
  // TODO: the hardcoded System below should be the name of the Space this thing is from:
  if (isEdit)
    "Editing " +
    (if (isForeign) "System::" else "") +
    thing.get.displayName
  else
    "Create a " + model.displayName
}

@main(QuerkiTemplate.Edit, pageTitle, rc) {

    <style>
      .cancelButton {
        margin-left: 20px;
      }
    </style>
    
    <script>
    
      // Global switch, defined in querki-common.js. The Editor does not do live-update:
      querkiLiveUpdate = false;
    
      // This is essentially a jQuery plugin for the concept of "Edit/Revert Buttons"
      (function( $ ) {
        function inputElem(t) {
          var inputId = t.data("edits");
	      return $("#" + inputId);        
        }
        
        function setEmpty(t, v) {
	      var emptyId = "#" + t.data("empty");
	      var $emptyFlag = $(emptyId);
	      $emptyFlag.val(v);        
        }
        
        function setButton(t, icon, title, cb) {
		  t.html("<i class='" + icon + "'></i>");
		  t.addClass("btn");
	      t.attr("title", title);
	      t.off("click");
	      t.on("click", cb);          
        }
      
        $.fn.editButton = function () {
          this.each(function () {
	        var modelName = $(this).data("model-name");
	        $inp = inputElem($(this));
	        $inp.attr("title", "Inherited from " + modelName + "; click the Edit button to change");
	        $inp.val("");
	        $inp.attr("disabled", "disabled");
	        setEmpty($(this), "true");
	        setButton($(this), "icon-pencil", "Edit", handleEditButton);   
          });
        }
      
        $.fn.revertButton = function () {
          this.each(function () {
	        var $inp = inputElem($(this));
	        $inp.removeAttr("disabled");
	        var modelName = $(this).data("model-name");
	        $inp.attr("title", "Overriding " + modelName + "; click the Revert button to go back to the model's value");
	        setEmpty($(this), "false");
	        setButton($(this), "icon-remove", "Revert", handleRevertButton);   
          });
        }
    
        $.fn.trashButton = function () {
          this.each(function () {
	        setButton($(this), "icon-trash", "Remove", handleTrashButton);   
          });
        }
        
        function handleTrashButton(evt) {
          var propGroup = viaField($(this), "group");
          propGroup.remove();
        }
      
        function handleEditButton(evt) {
          $(this).revertButton();

          var $inp = inputElem($(this));
          $inp.focus();

          return false;
        }
      
        function handleRevertButton(evt) {
          $(this).editButton();
          return false;
        }
        
        $.fn.addListItemButton = function () {
          this.each(function () {
            setButton($(this), "icon-plus-sign", "Add Item", handleAddListItem);
          });
        }
        
        $.fn.deleteListItemButton = function () {
          this.each(function () {
            setButton($(this), "icon-remove-sign", "Delete Item", handleDeleteListItem);
          });
        }

        function dataField(t, fieldName) {
          return "#" + t.data(fieldName);
        }
        
        function viaField(t, fieldName) {
          var controlId = dataField(t, fieldName);
          return $(controlId);
        }
        
        function handleAddListItem(evt) {
          var templateField = $(this).parent().find(".inputTemplate").first();
          var list = $(this).parent().find("ul").first();
          var sizeField = viaField($(this), "size");
          var curSize = Number(sizeField.val());
          var newField = templateField.clone(true);
          newField.attr("name", templateField.data("basename") + "[" + curSize + "]");
          newField.removeClass("inputTemplate");
          newField.show();
          var newLi = $("<li><span class=\"icon-move\"></span></li>");
          newLi.append(newField);
          var delButton = $("<button class=\"delete-item-button btn-mini\">&nbsp;</button>");
          setButton(delButton, "icon-remove-sign", "Delete Item", handleDeleteListItem);
          newLi.append(delButton);
          list.append(newLi);
          sizeField.val(curSize + 1);
          return false;
        }
        
        function handleDeleteListItem(evt) {
          var targetLi = $(this).parent();
          var sortList = targetLi.parent();
          targetLi.detach();
          renumberList(sortList);
          return false;
        }
        
      }( jQuery ));
      
      function renumberList(sortList) {
        var allItems = sortList.children("li");
        var templateField = sortList.parent().find(".inputTemplate").first();
        var baseItemName = templateField.data("basename");
        var i = 0;
        allItems.each(function () {
          var listItem = $(this);
          var inputField = listItem.find(".list-input-element");
          inputField.attr("name", baseItemName + "[" + i + "]");
          i = i + 1;
        });        
      }
        
      function onSortFinished(evt, ui) {
        var itemMoved = ui.item;
        var sortList = itemMoved.parent();
        renumberList(sortList);
      }
       
      var selectCreatingNew; 
      function handleLinkSelectChanged(evt) {
        selectCreatingNew = this;
        var optionSelected = $("option:selected", this);
        if (optionSelected.hasClass("_createNewFromModel")) {
          var modelId = optionSelected.data("model");
          $("#create-instance-iframe").attr("src", "@routes.Application.createThing(rc.ownerHandle, space.toThingId, None)" + "?cl&subCreate=true&model=" + modelId)
		  $("#create-instance-dialog").dialog("open");
		  return false;          
        } 
      }
      
      function onLinkCreated(newThingId, newDisplayName) {
        $(selectCreatingNew).append('<option value="' + newThingId + '" selected="selected">' + newDisplayName + '</option>');
        $("#create-instance-dialog").dialog("close");
      }
      
      // **************************************
      //
      // Adding Properties to the list
      //
      
      // We need to keep track of the number of properties, so that we can give the right index if we add a new one:
      var numPropsShown = @{propsSoFar.size};                      
      
      function beginAddProperty() {
        $("#_addPropertyButtonGroup").hide();
        $("#_addPropertyBox").fadeIn();
      }
      
      function closeAddProperty() {
        $("#_addPropertyBox").hide();
        $("#_addPropertyButtonGroup").show();      
      }
      
      function showCreateProperty() {
        $("#_addExistingPropertyBox").hide();
        $("#_createNewPropertyBox").show();
      }
      
      function showAddProperty() {
        $("#_createNewPropertyBox").hide();
        $("#_addExistingPropertyBox").show();
      }
      
      function addPropertyGuts(propThingId) {
        numPropsShown = numPropsShown + 1;
	    jsRoutes.controllers.Application.getPropertyEditor("@space.owner.toThingId", "@space.id.toThingId", '@thing.map(_.id.toThingId).getOrElse("")', propThingId, numPropsShown).ajax({
	      success: function (result) {
	        var newElem = $(result);
	        newElem.insertBefore("#_addPropertyButtonGroup");
	        setupClasses(newElem);
            finalSetup("@space.owner.toThingId", "@space.toThingId", newElem);
	        closeAddProperty();
	      },
	      error: function (err) {
	        showStatus("Unable to fetch property renderer!");
	      }
	    });      
      }
      
      function doAddProperty() {
        var propSelect = $("option:selected", $("#_propChooser"));
        var propId = propSelect.val();
        if (propId.length > 0) {
		  // TODO: nasty abstraction break here. Do we need a Javascript library for generating ThingIds?
          var propThingId = "." + propId;
          addPropertyGuts(propThingId);
        } else {
          // TODO: weird situation here...
        }
      }
      
      function handlePropChoice(evt) {
        var propSelect = $("option:selected", this);
        var propId = propSelect.val();
        var propName = propSelect.text();
        if (propId.length > 0) {
		  // TODO: nasty abstraction break here. Do we need a Javascript library for generating ThingIds?
          var propThingId = "." + propId;
	      jsRoutes.controllers.Application.getPropertyDisplay("@space.owner.toThingId", "@space.id.toThingId", propThingId, "@PropDetails.id.toThingId").ajax({
	        success: function (result) {
	          $("#_propInfo").html("<p><b>" + propName + "</b></p>" + result);
	          $("#_addExistingPropertyButton").prop("disabled", false);
	        },
	        error: function (err) {
	          showStatus("Unable to fetch property info!");
	          $("#_addExistingPropertyButton").prop("disabled", true);
	        }
	      });
        } else {
          $("#_propInfo").text(" ");
          $("#_addExistingPropertyButton").prop("disabled", true);
        }
      }
      
      function newPropName() { return $("#_newPropName").val(); }
      function newPropTypeSelection() { return $("#_newPropType :selected"); }
      function newPropType() { return newPropTypeSelection().val(); }
      function newPropLinkModel() { return $("#_newPropLinkModel :selected").val(); }
      function newPropColl() { return $("#_newPropColl .active").val(); }
      function newPropSummary() { return $("#_newPropSummary").val(); }
      function newPropDetails() { return $("#_newPropDetails").val(); }
      
      function createIsLegal() {
        if (newPropName().length > 0 &&
            newPropType().length > 0) {
          return true;
        } else {
          return false;
        }
      }
      
      function checkCreateButton() {
        if (createIsLegal()) {
          $("#_createNewPropertyButton").prop("disabled", false);
        } else {
          $("#_createNewPropertyButton").prop("disabled", true);
        }
      }
      
      function createPropertyFields() {
        var fieldNum = 0;
        var result = {}
        
        function create(propId, inputId, propVal) {
          if (propVal.length > 0) {
            var fieldNumName = "field[" + fieldNum + "]";
            result[fieldNumName] = propId;
            fieldNum = fieldNum + 1;
            result[inputId] = propVal;
          }
        }
        
        @createCall(NameProp, "newPropName")
        @createCall(TypeProp, "newPropType")
        @createCall(CollectionProp, "newPropColl")
        @createCall(PropSummary, "newPropSummary")
        @createCall(PropDetails, "newPropDetails")
        @createCall(LinkModelProp, "newPropLinkModel")
        
        var serialized = $.param(result);
        return serialized;
      }
      
      function doCreateProperty() {
        if (!createIsLegal())
          return false;
          
        jsRoutes.controllers.Application.doCreateThing("@space.owner.toThingId", "@space.id.toThingId").ajax({
          data: "API=true&model=@{UrPropOID.toString}&" + createPropertyFields(),
	      success: function (result) {
	        addPropertyGuts(result);
	      },
	      error: function (err) {
	        alert("Error: " + err.responseText);
	      }
	    });
      }
      
      function checkIfLinkType() {
        var propType = newPropType();
        if (propType == "@NameType.id.toString" || propType == "@TagSetType.id.toString" || propType == "@LinkType.id.toString") {
          $("#_newPropLinkModel").show();
        } else {
          $("#_newPropLinkModel").hide();        
        }
      }
      
      function checkTypeCollection() {
        var typeColl = newPropTypeSelection().data("collection");
        if (typeof typeColl === "undefined") {
          $("#_newPropColl button").prop("disabled", false);
          $("#_newPropOne").addClass("active");
        } else {
          // The selected Type has a required Collection, so disable the rest:
          $("#_newPropColl button").each(function () {
            var anOption = $(this);
            if (anOption.val() == typeColl) {
              anOption.prop("disabled", false);
              anOption.addClass("active");
            } else {
              anOption.prop("disabled", true);
              anOption.removeClass("active");
            }
          });
        }
      }
    
      $(function() {
        $("#_addPropertyButton").click(beginAddProperty);
        $("#_cancelAddPropertyButton").click(closeAddProperty);
        $("#_cancelCreatePropertyButton").click(closeAddProperty);
        $("#_propChooser").change(handlePropChoice);
        $("#_addExistingPropertyButton").prop("disabled", "disabled");
        $("#_addExistingPropertyButton").click(doAddProperty);
        $("#_createPropertyButton").click(showCreateProperty);
        $("#_returnToExistingButton").click(showAddProperty);
        $("#_createNewPropertyButton").prop("disabled", true);
        $("#_createNewPropertyButton").click(doCreateProperty);
        $("#_newPropType, #_newPropName").change(checkCreateButton);
        $("#_newPropType").change(checkIfLinkType);
        $("#_newPropType").change(checkTypeCollection);
      });
      
      // **************************************
      
      function setupClasses(root) {
        root.find(".edit-button").editButton();
        root.find(".revert-button").revertButton();
        root.find(".trash-button").trashButton();
        root.find(".add-item-button").addListItemButton();
        root.find(".delete-item-button").deleteListItemButton();
        root.find(".inputTemplate").hide();
        root.find(".sortableList").sortable({
          stop:onSortFinished
        });      
        root.find("._linkSelect").change(handleLinkSelectChanged);
      }
      
      $(function() {
        setupClasses($('body'));
        
        $("#submitAndAnother").click(function(evt) {
          $("#makeAnother").val("true");
          return true;
        });
        
		$("#create-instance-dialog").dialog({
		    autoOpen:false,
		    height: 800,
		    width: 700,
			modal: true,
			buttons: {
		      "Cancel": function () {
			    $(this).dialog("close");
			  }
			},
			close: function () {
			}
		});
		
      });
    </script>
    
    <div id="create-instance-dialog" title="">
      <iframe id="create-instance-iframe" src="" style="width: 95%; height: 95%"></iframe>
    </div>
    
	<div class="page-header">
	    <h1>@pageTitle @cancelButton</h1>
	</div>
	
	@if(!canEdit) {
	  <div class="alert">@thing.get.displayName is not in this Space. It is not yet legal to edit it. You may want to make a local Model from it, and use that instead.</div>
	}
	
	<div class="row-fluid">
	@form(if (thing.isEmpty) { 
	        routes.Application.doCreateThing(rc.ownerHandle, space.toThingId, Some(isSubCreate))
	      } else { 
	        routes.Application.doEditThing(rc.ownerHandle, space.toThingId, thing.get.toThingId) 
	      }, 'class -> "form-horizontal") {
	  <fieldset>
	    <input type="hidden" name="model" value="@model.id.toString">
	    
	    <input type="hidden" id="makeAnother" name="makeAnother" value="false">
	    
	    @defining(propsSoFar.zipWithIndex) { allProps =>
          @for(propPair <- allProps) {
            @showProp(propPair)
          }
        }
        <input type="hidden" id="redisplay" name="redisplay" value="">
        
        <div id="_addPropertyButtonGroup" class="control-group">
          <div class="controls">
            <a href="#" id="_addPropertyButton" class="btn btn-info"><i class="icon-plus"></i> Add a Property</a>
          </div>
        </div>
        
        <div id="_addPropertyBox" class="well container" style="display:none; clear:both">
          <div id="_addExistingPropertyBox">
            <p>Choose a property from this list of existing properties, or press "Create a New Property" to do something different.</p>
            <div class="span4">
              <p class="offset1">
                <select id="_propChooser" data-placeholder="Choose a Property...">
                  <option value="">Choose a Property...</option>
                  @propsInSpace(space)
                </select>
              </p>
              <p class="offset1">
                <input type="button" value="Add" id="_addExistingPropertyButton" class="btn btn-info">
                <input type="button" value="Cancel" id="_cancelAddPropertyButton" class="btn">
              </p>
              <hr/>
              <p><input type="button" value="Create a New Property instead" id="_createPropertyButton" class="btn btn-info"></p>
            </div>
            <div class="span7">
              <p id="_propInfo">&nbsp;</p>
            </div>
          </div>
          
          <div id="_createNewPropertyBox" style="display:none;">
            <p>Describe the new property to create, or press "Add an Existing Property" to use one that already exists.</p>
            <p><input type="text" id="_newPropName" placeholder="Name (required)..."></p>
            <select id="_newPropType">
                <option value="">Choose the Property's type (required)...</option>
                @for(aType <- space.allTypes.values.filterNot(_.ifSet(InternalProp)(space)).toSeq.sortBy(_.displayName)) {
                  <option value="@aType.id.toString" @collForType(aType)>@aType.displayName</option>
                }
            </select>
            <select id="_newPropLinkModel" style="display:none;">
                <option value="">Link to which Model? (optional)...</option>
                @for(aModel <- space.allModels.toSeq.sortBy(_.displayName)) {
                  <option value="@aModel.id.toString">@aModel.displayName</option>
                }
            </select>
		    <div id="_newPropColl" class="btn-group offset1" data-toggle="buttons-radio">
			    <button id="_newPropOne" type="button" class="btn btn-primary active" value="@{ExactlyOne.id.toString}">Exactly One</button>
			    <button id="_newPropOptional" type="button" class="btn btn-primary" value="@{Optional.id.toString}">Optional</button>
			    <button id="_newPropList" type="button" class="btn btn-primary" value="@{QList.id.toString}">List</button>
			    <button id="_newPropSet" type="button" class="btn btn-primary" value="@{QSet.id.toString}">Set</button>
			</div>
			<p><input type="text" id="_newPropSummary" class="span8" placeholder="One-line summary (optional)..."></p>
			<p><textarea id="_newPropDetails" class="_largeTextEdit span8" placeholder="Detailed description (optional)..."></textarea></p>
            <p class="offset1">
                <input type="button" value="Create" id="_createNewPropertyButton" class="btn btn-info">
                <input type="button" value="Cancel" id="_cancelCreatePropertyButton" class="btn">
            </p>
            <hr/>
            <p><input type="button" value="Add an Existing Property instead" id="_returnToExistingButton" class="btn btn-info"></p>
          </div>
        </div>
	  
	    <div class="control-group">
	      <div class="controls">
	        <input id="mainSubmit" type="submit" value="Done" class="btn btn-primary" @if(!canEdit) { disabled="disabled" }>
	        @if(isCreate && !isSubCreate) {
	          <input id="submitAndAnother" type="submit" value="Done and Create Another" class="btn">
	        }
	        @cancelButton
	      </div>
	    </div>
	  </fieldset>
	}
	</div>
}