@(rc:PlayRequestContext)

@import play.api.Logger

@Core = @{ rc.interface[querki.core.Core] }

@space = @{ rc.state.get }
@thing = @{
  rc.thing match {
    case Some(t) => t
    case None => space
  }
}
@title = @{ "Querki Explorer" }
@user = @{ rc.requester }
@rawThingId = @{ thing.id.toThingId.toString }

@modelOpt = @{ thing.getModelOpt(space) }

@main(QuerkiTemplate.Thing, title, rc, true) {

  <script>
    var originalRootId = "@thing.id.toString()";
    var rootId = originalRootId;

    (function( $ ) {

      $.fn.asThingPrompt = function () {
        this.each(function () {
          $(this).marcoPolo({
            // Note that we intentionally leave propId blank for this purpose:
		    url: 'getLinks?propId=',
		    minChars: 1,
		    required: true,
		    formatData: function(data) { return data; },
		    formatItem: function(data, $item) { return data.display; },
		    formatNoResults: function(q, $item) { return "Nothing named <b>" + q + "</b> found."; },
		    onSelect: function(data, $item) {
		      rootId = data.id;
		      $("#_thingName").val(data.display);
		      evaluate();
		    }  
          });
        });
      }

    }( jQuery ));

    function evaluate() {
      var qlText = $("#_qlInput").val();
      if (qlText.length == 0) {
        qlText = "_foreachProperty";
      }
      jsExploreRoutes.controllers.ExploreController.evaluate("@space.owner.toThingId", "@space.id.toThingId", "." + rootId, qlText).ajax({
        success: function (result) {
          $("#_results").html(result);
        },
        error: function (err) {
          $("#_results").html("<b>" + err + "</b>");
        }
      });    
    }
  
    $(function() {
      $("#_qlInput").keydown(function (event) {
        if (event.which === 9) {
          evaluate();
          event.preventDefault();
          return false;
        }
      });
      $("#_qlInput").keyup(function (event) {
        if (event.which === 9) {
          event.preventDefault();
          return false;
        }
      });
      
      $("#_thingName").asThingPrompt();
      $("#_thingName").change(function () {
        if ($(this).val().length == 0) {
          rootId = originalRootId;
          evaluate();
        }
      });
    });
  </script>
  
  <style>
  #_queryRow {
    height: 100px;
  }
  
  #_thingName {
    width: 70%;
  }
  
  ._surround {
    position: relative;
    top: 40px;
    color: #999999;
  }
  
  #_qlInputDiv {
    height: 100%;
  }
  
  #_qlInput {
    height: 100%;
  }
  </style>

  <p><b>Enter a QL expression below, and press Tab to see what it generates:</b></p>
  
  <div id="_queryRow" class="row-fluid">
    <div class="span3 _surround">
      <p>
        <input id="_thingName" type="text" placeholder="@{thing.displayName}"/>
        -&gt; [[
      </p>
    </div>
    
    <div id="_qlInputDiv" class="span8"><textarea id="_qlInput" placeholder="_foreachProperty" style="width:100%"></textarea></div>
    
    <div class="span1 _surround">
      @Html("]]")
    </div>
  </div>
  
  <p><b>Results:</b></p>
  
  <hr/>
  
  <div id="_results"></div>
}
