@(rc:PlayRequestContext, signupForm:Form[querki.identity.SignupInfo])

@import helper._
@import helper.twitterBootstrap._

@title = @{ s"You've been invited to join ${rc.state.get.displayName}!" }

@main(QuerkiTemplate.Login, title, rc, forms=Seq(signupForm)) {

	<div class="page-header">
	  <h1>@title</h1>
	</div>
	
	<div class="row-fluid">
	  <div class="span6">
	    <p>If you already have a Querki login and password, please give them here. If don't have one, but you were sent an email invitation to a specific
	    Querki Space, please go that that email and click one of the links in that -- that link should log you in to Querki.</p>
	
	    @form(routes.LoginController.joinlogin(rc.ownerHandle, rc.state.get.toThingId)) {
	      <input type="text" name="name" id="name" value="" placeholder="Email Address">
	      <input type="password" name="password" value="" placeholder="Password">
	      <input type="submit" value="Log in" class="btn btn-primary">
	    }
	  </div>
	  
	  <div class="span6">
	    <p>If you aren't yet a Querki member, sign up here -- it only takes a minute! All fields are required.</p>
	    @form(routes.LoginController.signup(rc.ownerHandle, rc.state.get.toThingId)) {
          @inputText(
            signupForm("email"), 
            '_label -> "Your Email Address",
            '_showConstraints -> false
          )
	    
          @inputPassword(
            signupForm("password"), 
            '_label -> "Password",
            '_showConstraints -> false
          )
	    
          @inputText(
            signupForm("handle"), 
            '_label -> "The Querki login you would like (letters and numbers only)",
            '_showConstraints -> false
          )
	    
          @inputText(
            signupForm("display"), 
            '_label -> "Your name as you would like it to be displayed",
            '_showConstraints -> false
          )
	    
	      <input type="submit" value="Sign up" class="btn btn-primary">
	    }
	  </div>
	</div>
}