@(user:Option[User], loginForm:Form[User], additional:Option[String] = None, errors:Option[String] = None)

@import helper._
@import helper.twitterBootstrap._

@main("Welcome to Querki", user) {

	@user match {
	  case None => {
	    @errors match {
		  case None => {}
		  case Some(msg) => { <p>@msg</p> }
		}
		<div class="page-header">
		  <h1>Welcome to Querki!</h1>
		</div>
	    <p>Please log in:<p>
		@form(routes.Application.login, 'class -> "form-inline") {
		  <input type="text" name="name" id="name" value="" placeholder="Your name">
		  <input type="submit" value="Log in" class="btn btn-primary">
		}
	  }
      case Some(u) => {
	    <div class="hero-unit">
	      <h1>Welcome back, @u.name !</h1>
		  <p>None of this does anything yet, but it's starting to at
		  least look nice while it's not doing it.</p>
		  @additional match {
		    case Some(m) => { <p>Akka says: @m </p> }
		    case None => {}
		  }
		  @form(routes.Application.logout) {
		    <input type="submit" value="Log out" class="btn btn-primary btn-large">
		  }
		</div>
	  }
	}

	
	@************
    @play20.welcome(message)
	************@
    
}