@(rc:RequestContext)

@import helper._
@import helper.twitterBootstrap._

@user = @{ rc.requester }

@main(QuerkiTemplate.Index, "Welcome to Querki", rc) {

	@user match {
	  case None => {
	    <div class="hero-unit">
	      <h1>Welcome to Querki!</h1>

		  <a href="/login" class="btn btn-primary btn-large">Log In</a>
		</div>
	  }
      case Some(u) => {
	    <div class="hero-unit">
	      <h1>Welcome back, @{u.name}! (#@u.id)</h1>

		  <a href="/spaces" class="btn btn-primary btn-large">Show my Spaces</a>
		  &nbsp;&nbsp;
		  <a href="@routes.Application.logout" class="btn">Log out</a>
		</div>
	  }
	}
}