@(rc:PlayRequestContext)

@import helper._
@import helper.twitterBootstrap._

@user = @{ rc.requester }

@main(QuerkiTemplate.Index, "Welcome to Querki", rc) {
	
    <div class="hero-unit">
      <h1>Welcome to <img src="@routes.Assets.at("images/Logo-green.png")"></h1>

	@user match {
	  case None => {
	    <h3>Please log in</h3>
	    
		<p>If you have a Querki login and password, please give them here. If don't have one, but you were sent an email invitation to a specific
		Querki Space, please go that that email and click one of the links in that -- that link should log you in to Querki.</p>
		
		@form(routes.LoginController.dologin, 'class -> "form-inline") {
		  <input type="text" name="name" id="name" value="" placeholder="Email Address">
		  <input type="password" name="password" value="" placeholder="Password">
		  <input type="submit" value="Log in" class="btn btn-primary">
		}
	  }
      case Some(u) => {
		  <a href="/spaces" class="btn btn-primary">Show my Spaces</a>
	  }
	}
	
	</div>

}