@(template:QuerkiTemplate.QuerkiTemplate, title: String, rc:RequestContext, addStyles:Boolean = false)(content: Html)

@import models.system._
@import play.api.Logger

@space = @{ rc.state }
@thing = @{ rc.thing }
@nav = @{ NavSection.nav(rc) }
@errors = @{
  val flash = rc.request.flash
  flash.get("error") orElse rc.error
}
@requester = @{ rc.requester }

@createForm(s:SpaceState) = {
    <div id="create-dialog" title="Create a Thing">
      <p>Choose which kind of Thing to create:</p>
        <select name="newModel" id="newModel">
          <option value="">Choose a Model</option>
          @for(model <- s.allModels) {
            <option value="@model.toThingId">@model.displayName</option>
          }
        </select>
    </div>
}

@createFormInSpace = @{
  space match {
    case Some(s) => createForm(s)
    case None => {}
  }
}

<!DOCTYPE html>

@*********************
 * This is the main system template. We'll get fancier as things go,
 * but by and large, all universal template shell should go here.
 *
 * Most of this is adapted from Bootstrap's "fluid" example:
 *   http://twitter.github.com/bootstrap/examples/fluid.html
 ********************@

<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>@title</title>
        <!-- TODO: we need to make this CSS responsive! But that may require jQuery Mobile... -->
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/jquery-ui-1.10.0.custom.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/jquery.ui.menubar.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap-responsive.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/manifest.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        
        <!-- TODO: these should come from a jQuery CDN, instead of locally -->
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.js")"></script>
        <script src="@routes.Assets.at("javascripts/jquery.manifest.min.js")"></script>
        <script src="@routes.Assets.at("javascripts/jquery-ui-1.10.0.custom.js")"></script>
        <script src="@routes.Assets.at("javascripts/jquery.ui.menubar.js")"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap.js")"></script>
        <!-- This padding is needed for the top navbar. Bootstrap doc says to put it between the main and responsive CSS: -->
        <style>
          body {
            padding-top: 40px;
          }
        </style>
        <script src="@routes.Assets.at("javascripts/bootstrap-responsive.js")"></script>
        <script src="@routes.Assets.at("javascripts/underscore-min.js")"></script>
        <script src="@routes.Assets.at("javascripts/jquery.autosize-min.js")"></script>
        
        <script type="text/javascript" src='@routes.Application.javascriptRoutes()'></script>

        @PageEventManager.addHeaders(rc, template)

        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        
		<script>
		$(function() {
		    // Bootstrap and jQuery UI both have conflicting .button functions. This is a
		    // Bootstrap function to turn it into "btn" instead. See:
		    // https://github.com/twitter/bootstrap/issues/6094
		    var btn = $.fn.button.noConflict()
		    $.fn.btn = btn
		    
			$("#querkiBar").menubar({
				autoExpand: false,
				menuIcon: true,
				buttons: false
			});
			
			$("#identityMenu").position({
				my: "right",
				at: "right"
			});
			
			@if(space.isDefined) {
				$("#createThing").on("click", function(evt) {
				  $("#create-dialog").dialog("open");
				  return false;
				});
			
				$("#create-dialog").dialog({
				  autoOpen:false,
				  height: 300,
				  width: 350,
				  modal: true,
				  buttons: {
				    "Create": function () {
				      var modelId = $("#newModel :selected").first().val()
				      if (modelId && (modelId.length > 0)) {
				        // TBD: Bit of an abstraction break here -- the Javascript needs to know the URL syntax for
				        // model creation. Can we do this better somehow? 
				        window.location = "@routes.Application.createThing(rc.ownerName, space.get.toThingId, None)" + "?model=" + modelId;
				      } else {
				        // TODO: The Create button should really be disabled unless a legit option
				        // is picked; not quite sure how to do that in jQuery UI. 
				      }
				    },
				    "Cancel": function () {
				      $(this).dialog("close");
				    }
				  },
				  close: function () {
				  }
				});
			}
		});
		</script>
		
	<style>
		#querkiBar { margin: 0 0 0 0; }
		
		body {
		  margin: 0;
		}
		
		.guts {
		  margin: 8px;
		}
		
        .sortableList { list-style-type: none; margin: 0; padding: 0; width: 60%; }
        .sortableList li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; }
        .sortableList li span { position: absolute; margin-left: -1.3em; }
		
 	</style>
    </head>
    <body>

	    @if(!rc.chromeless) {
	    
	      <!-- Bootstrap menus -->
	      <div class="container">
	        <div class="navbar navbar-fixed-top">
	          <div class="navbar-inner">
	            <div class="container">
	            
	              <!-- This is the bit that takes over when we collapse a small screen -->
                  <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </a>
                  
	              <a class="brand" href="@routes.Application.index">Querki</a>
	              
	              <div class="nav-collapse collapse">
	                <ul class="nav">
                      @for(section <- nav.sections) {
                        <li class="dropdown"><a data-target="#@section.title" href="#@section.title" class="dropdown-toggle" data-toggle="dropdown">@section.title <b class="caret"></b></a>
                          <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">@for(link <- section.links) {
                            <li><a href="@link.url" @link.idAttr>@link.display</a></li>}
                          </ul>
                        </li>
                      }
                      
                      @defining(NavSection.loginNav(rc)) { section =>
                        <li class="dropdown"><a data-target="#@section.title" href="#@section.title" class="dropdown-toggle" data-toggle="dropdown">@section.title <b class="caret"></b></a>
                          <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dLabel">@for(link <- section.links) {
                            <li><a href="@link.url" @link.idAttr>@link.display</a></li>}
                          </ul>
                        </li>
                      }
	                </ul>
	              </div>
	            </div>
	          </div>
	        </div>
	      </div>
<!--
		    <ul id="querkiBar" class="menubar">
              @for(section <- nav.sections) {
                <li><a href="#@section.title">@section.title</a>
                  <ul>@for(link <- section.links) {
                    <li><a href="@link.url" @link.idAttr>@link.display</a></li>}
                  </ul>
                </li>
              }
			</ul>
-->
	    }
	    
	@createFormInSpace

	<!-- This container stuff is likely to go into a lower-level, Space-rendering template -->
	<div class="guts container-fluid">
      <div class="row-fluid">
        <div class="querki-content span12">

		  @errors match {
			case None => {}
			case Some(msg) => { 
		      <div class="alert">
		        <button type="button" class="close" data-dismiss="alert">x</button>
		        <strong>Error:</strong> @msg
		      </div>
			}
	      }

          @content
	
		</div><!--/span12-->
      </div><!--/row-->

      @if(!rc.chromeless) {
      <hr>

      <footer>
        <p>&copy; Querki 2013</p>
      </footer>
      }

    </div><!--/.fluid-container-->
    </body>
</html>
