@(rc:PlayRequestContext, users:Seq[querki.identity.User])

@import helper._
@import helper.twitterBootstrap._

@import querki.identity.User
@import querki.identity.UserLevel._

@pageTitle = @{
  "ADMIN: Manage Users"
}

@requester = @{ rc.requesterOrAnon }

@userDisplayClass(user:User) = @{
  if (user.isAdmin) {
    "info"
  } else if (user.level == PendingUser) {
    "warning"
  } else {
    ""
  }
}

@main(QuerkiTemplate.View, pageTitle, rc) {

  <script type="text/javascript" src='@routes.AdminController.javascriptRoutes()'></script>
  <script>
  
      function upgradePending(userId) {
        adminJsRoutes.controllers.AdminController.upgradePendingUser(userId).ajax({
	      success: function (result) {
	        showStatus("Upgraded");
	      },
	      error: function (err) {
	        showStatus("Error in upgrading!");
	      }
	    });      
      }
  
      function makeAdmin(userId) {
        adminJsRoutes.controllers.AdminController.makeAdmin(userId).ajax({
	      success: function (result) {
	        showStatus("Upgraded");
	      },
	      error: function (err) {
	        showStatus("Error in upgrading!");
	      }
	    });      
      }

      $(function() {
        $(".upgradeButton").click(function() {
          var userId = $(this).data("userid");
          upgradePending(userId);
        })
        $(".adminButton").click(function() {
          var userId = $(this).data("userid");
          makeAdmin(userId);
        })
      });
  
  </script>

  <div class="page-header">
	<h1 class="_defaultTitle">@pageTitle <a class="cancelButton btn" href="@routes.Application.index">Done</a></h1>
  </div>
  
  <div class="row">
    <table class="table table-hover">
      <thead>
        <td><b>Handle</b></td>
        <td><b>Email</b></td>
        <td><b>Level</b></td>
      </thead>
      <tbody>@for(user <- users){
        @defining(user.mainIdentity) { identity =>
          <tr class="@userDisplayClass(user)">
            <td>@identity.handle</td>
            <td>@identity.email.addr</td>
            <td>@user.levelName
            @if(user.level == PendingUser) { 
              <input type="button" class="btn upgradeButton" value="Upgrade" title="Click to upgrade @identity.handle to Full (Free) User Status" data-userid="@user.id.toString"/>
            }
            @if((requester.level == SuperadminUser) && (!user.isAdmin) && (user.level != PendingUser)) {
              <input type="button" class="btn btn-danger adminButton" value="Make Admin" title="Click to make @identity.handle a system administrator" data-userid="@user.id.toString"/>            
            }
            </td>
          </tr>
        }
      }</tbody>
    </table>
  </div>
}
