@(rc:PlayRequestContext, s:querki.values.SpaceState, formId:String, formTitle:String, prompt:String, selectorId:String)

@import querki.values.SpaceState

@Basic = @{ rc.interface[querki.basic.Basic] }

@createOptGroups(s:SpaceState) = {
        <optgroup label="Models in @s.displayName">
          @for(model <- s.models.toSeq.filterNot(_.ifSet(Basic.DeprecatedProp)(s)).sortBy(_.displayName)) {
            <option value="@model.toThingId">@model.displayName</option>
          }
        </optgroup>
  @s.app.map { app => @createOptGroups(app) }
}

    <div id="@formId" title="@formTitle" style="display:none">
      <p>@prompt</p>
        <select name="@selectorId" id="@selectorId">
          <option value="@{Basic.SimpleThing.toThingId}">Simple Thing</option>
          @createOptGroups(s)
        </select>
    </div>

