@(rc:PlayRequestContext, identity:querki.identity.Identity, level:querki.identity.UserLevel.UserLevel, passwordChangeForm:Form[LoginController.PasswordChangeInfo])

@import helper._
@import helper.twitterBootstrap._

@import querki.identity.UserLevel

@requester = @{ rc.requesterOrAnon }
@userName = @{ identity.name }
@lookingAtSelf = @{ requester.hasIdentity(identity.id) }
@title = @{ "Profile for " + userName }

@main(QuerkiTemplate.Profile, title, rc) {

	<div class="page-header">
	  <h1>@title</h1>
	</div>

    @if(lookingAtSelf) {
	  <div class="row-fluid">
	    <h3>Basic Information</h3>
	    <p><b>Handle:</b> @identity.handle</p>
	    <p><b>Email:</b> @identity.email.addr</p>
	    <p><b>Status:</b> @UserLevel.levelName(level)</p>
	  
	    <h3>Change Your Password</h3>
	    
	    <p>Enter your old password, and then the new one. Passwords must be at least 8 characters long.</p>
	    
	    @form(routes.LoginController.changePassword(identity.handle)) {	    
	      @inputPassword(
            passwordChangeForm("password"), 
            '_label -> "Your Current Password",
            '_showConstraints -> false
          )
	      
          @inputPassword(
            passwordChangeForm("newPassword"), 
            '_label -> "New Password",
            '_showConstraints -> false
          )
	    
          @inputPassword(
            passwordChangeForm("newPasswordAgain"), 
            '_label -> "New Password Again",
            '_showConstraints -> false
          )
          
          <input type="submit" value="Change Password" class="btn btn-primary">
	    }
      </div>
    }
}