@(rc:PlayRequestContext, email:String, expiresMillis:Long, hash:String, passwordChangeForm:Form[PasswordChangeInfo])

@import helper._

@main(QuerkiTemplate.Login, "Reset Password", rc) {

	<div class="page-header">
	  <h1>Reset Password</h1>
	</div>
	
	<p>Enter your new password here.</p>
	
	@form(routes.LoginController.doResetPassword(email, expiresMillis, hash), 'class -> "form-inline") {
	
	  <input type="hidden" name="password" value="@hash">
	      
      @inputPassword(
        passwordChangeForm("newPassword"), 
        '_label -> "New Password",
        '_showConstraints -> false
      )
	    
      @inputPassword(
        passwordChangeForm("newPasswordAgain"), 
        '_label -> "New Password Again",
        '_showConstraints -> false
      )
          
      <input type="submit" value="Change Password" class="btn btn-primary">
	}
}