@(rc:PlayRequestContext, results:querki.search.SearchResults)

@import querki.search._

@title = @{ "Search Results for \"" + results.request + "\"" }

@searchLen = @{ results.request.length }

@boldfaceResult(result:SearchResult) = @{
  val text = result.text
  
  def boldfaceRec(currentPos:Int, positions:List[Int]):List[Html] = {
    positions match {
      case pos :: rest => {
        val prefix = HtmlFormat.escape(text.substring(currentPos, pos))
        val boldEnd = pos + searchLen
        val boldfaced = Html("<span class='resultHighlight'>" + text.substring(pos, boldEnd) + "</span>")
        prefix :: boldfaced :: boldfaceRec(boldEnd, rest)
      }
      case Nil => {
        List(HtmlFormat.escape(text.substring(currentPos)))
      }
    }
  }
  
  boldfaceRec(0, result.positions)
}

@main(QuerkiTemplate.Thing, title, rc, true) {

  <style>
    .resultHighlight {
      font-weight: bold;
      background-color: #FAD2DF;
    }
  </style>
        
  <h1>@title</h1>
  
  <dl>
  @for(result <- results.results.sortBy(_.score).reverse) {
    <dt><b><a href="@routes.Application.thing(rc.ownerHandle, rc.state.get.toThingId, result.thing.toThingId)">@result.thing.displayNameText.html</a></b> (@result.prop.displayNameText.html)</dt>
    <dd><pre><code>@boldfaceResult(result)</code></pre></dd>
  }
  </dl>
}