@(rc:PlayRequestContext)

@import helper._
@import helper.twitterBootstrap._

@import querki.ecology._

@import querki.values.SpaceState._
@import querki.values._

@space = @{ rc.state.get }

@pageTitle = @{
  "Sharing and Security for " + space.displayName
}

@AccessControl = @{ rc.interface[querki.security.AccessControl] }
@Person = @{ rc.interface[querki.identity.Person] }
@Roles = @{ rc.interface[querki.security.Roles] }

@from = @{ rc.interface[querki.email.Email].from }
@InviteText = @{ Person.InviteText }

@HtmlRenderer = @{ rc.interface[querki.html.HtmlRenderer] }

@roleSelectorName(member:Thing) = @{ new FieldIds(Some(member), AccessControl.PersonRolesProp).inputControlId + "_values" }

@renderMember(member:Thing) = @{
  val roles = AccessControl.personRoles(member)(space)
  // TODO: this should cope with a list of Roles, but we're not going to deal with that yet:
  val currentRole = roles.headOption.getOrElse(Roles.BasicMemberRole)
  val rolesStr = currentRole.displayName
  Html(s"""${member.unsafeDisplayName} -- 
           |<span class="_chooseRole" data-personid="${member.id.toThingId}" data-selectorname="${roleSelectorName(member)}" data-current="${currentRole.id.toString}">
           |Role: $rolesStr</span>""".stripMargin)
} 

@main(QuerkiTemplate.View, pageTitle, rc) {

  <script>
     $(function() {
     
       $("#invitees").manifest({
         marcoPolo: false,
         valuesName: "invitees"
       });
       
       $("#collaborators").manifest({
        marcoPolo: {
		  url: '_getCollaborators',
		  minChars: 3,
		  required: true,
		  formatData: function(data) { return data; },
		  formatItem: function(data, $item) { return data.display; },
		  formatNoResults: function(q, $item) { return "No collaborator named <b>" + q + "</b> found."; }
		},
        formatDisplay: function (data, $item, $mpItem) {
          if (_.isString(data))
            return data;
          else 
            return data.display; 
        },
		formatValue: function(data, $value, $item, $mpItem) {
		  if (_.isString(data))
		    return data;
		  else 
		    return data.id; 
		},
		// Use Enter as the separator to create new items, as well as the default comma:
	    separator: [13, ','],
        required: true,
        valuesName: "collaborators"
       });
       
       $("._chooseRole").click(function (evt) {
         var memberLine = $(this);
         var personid = memberLine.data("personid");
         var roleSelector = 
           $("#_rolesTemplate").clone(true)
           .attr('id', '_roleSelector' + personid)
           .prop('name', memberLine.data('selectorname'))
           .addClass('propEditor')
           .data('propid', '@{AccessControl.PersonRolesProp.id.toString}')
           .data('thing', personid);
         // HACK: since we're setting a Set Property to a single value, we have to massage
         // the line protocol a little:
         roleSelector.data('customserializer', function(target) {
           var selected = target.find(':selected');
           return target.prop('name') + "[0]=" + selected.val();
         });
         var current = memberLine.data('current');
         roleSelector.val(current);
         var roleWrapper = $('<div></div>');
         roleWrapper.append(roleSelector);
         memberLine.replaceWith(roleWrapper);
         finalSetup("space.owner.toThingId", "@space.toThingId", roleWrapper);
         roleSelector.show();
       });
       
     });
  </script>
  
  <select id="_rolesTemplate" style="display:none;">
    @for(role <- Roles.allRoles(space)) {
      <option value="@{role.id.toString}">@{role.displayName}</option>
    }
  </select>

  <div class="page-header">
	<h1 class="_defaultTitle">@pageTitle <a class="cancelButton btn" href="@routes.Application.thing(rc.ownerHandle, space.toThingId, space.toThingId)">Done</a></h1>
  </div>
  
  <div class="row">
    <div class="span3">
      <ul class="nav nav-list">
        <li class="nav-header">Sharing</li>
        <li><a href="#sendInvitations">Send Invitations</a></li>
        <li><a href="#invitees">Outstanding Invitations</a></li>
        <li><a href="#members">Members</a></li>
        <li class="divider"></li>
        <li class="nav-header">Security</li>
      </ul>
    </div>
	
	<div class="span9">
      <section id="sendInvitations">
          <h2>Send Invitations to Join this Space</h2>
          
          <p>Use this form to invite people to become Members of this Space. The Invitation Message may contain the usual Querki Text formatting,
          including [[]]-style expressions; however, links may not yet work quite the way you expect.</p>
          
          <p>Specify invitees by email address. Note that your current invitations are listed below. While it is acceptable to retry once or
          twice, doing so excessively is frowned upon, as is sending unwelcome invitations. Either of these is considered spam, and is
          grounds for removal from Querki.</p>
          
          <p>Invitations will come from "@{from}". If your invitations are getting spam-filtered, tell your invitees
          to add that address to their Contacts.</p>
          
          <p>Invitations will have your email address included as the Reply-To, so if the invitees write back, it will go directly to you.
          (Eventually, we may have replies come to you via Querki, but for now, keep in mind that your invitees will see your email address.)</p>
          
          <div class="control-group">
            <label class="control-label">Invitation Message</label>
            <div class="controls">
              @HtmlRenderer.renderPropertyInput(QLRequestContext(rc), InviteText, space.getDisplayPropVal(InviteText)(space))
            </div>
          </div>
        
	    @form(routes.LoginController.inviteMembers(rc.ownerHandle, space.toThingId.toString), 'class -> "") {
          <div class="control-group">
            <label class="control-label">Who to Invite by email (enter email addresses, comma-separated)</label>
            <div class="controls">
              <input type="text" id="invitees" name="inviteesRaw">
            </div>
          </div>
          
          <div class="control-group">
            <label class="control-label">Or give the names or handles of collaborators you know from other Spaces:</label>
            <div class="controls">
              <input type="text" id="collaborators" name="collaboratorsRaw">
            </div>
          </div>
          
          <div class="control-group">
            <div class="controls">
              <input type="submit" value="Invite Members">
            </div>
          </div>
        }
      </section>
      
      <section id="invitees">
        <h2>Outstanding Invitations</h2>
        
        <p>The following invitations have been sent but not yet accepted.</p>
        
        <table class="table table-hover">
          @for(invitee <- Person.invitees(space);
               propVal <- invitee.getPropOpt(rc.interface[querki.email.Email].EmailAddressProp)(space);
               emailAddr <- propVal.firstOpt;
               addr = emailAddr.addr) {
            <tr class="warning"><td>@addr</td></tr>
          }
        </table>
      </section>

      <section id="members">
        <h2>Members</h2>
        
        <p>The following people are members of this Space.</p>
        
        <table class="table table-hover">
          @for(member <- Person.members(space)) {
            <tr class="info"><td>@renderMember(member)</td></tr>
          }
        </table>
      </section>
      
    </div>
  
  </div>
}
