@(rc:RequestContext, prop:Property[_,_], v:DisplayPropVal, i:Int)

@import models.system._
@import querki.html.HtmlRenderer

@space = @{ rc.state.get }

@showInputControl(prop:Property[_,_], v:DisplayPropVal, i:Int) = {
  @HtmlRenderer.renderPropertyInput(space, prop, v)
}

@editButtonClass(v:DisplayPropVal) = @{
  if (v.isInherited)
    "edit-button"
  else
    "revert-button"
}

  <div class="control-group @{if(v.isInherited) "inherited"}">
    <label class="control-label">@Html(prop.getProp(PromptProp)(space).renderPlainOr(prop.getProp(NameProp)(space).renderPlain).raw)
      @if(v.hasInheritance) {
        &nbsp;&nbsp;<button data-empty="@v.emptyControlId" data-model-name="@v.inheritedFrom.get.displayName" data-edits="@v.inputControlId" class="@editButtonClass(v) btn-mini">&nbsp;</button>
      } else {
        &nbsp;&nbsp;<button data-empty="@v.emptyControlId" data-edits="@v.inputControlId" class="trash-button btn-mini">&nbsp;</button>      
      }
    </label>
    <div class="controls">
      @showInputControl(prop, v, i)
    </div>
	<input type="hidden" name="field[@i]" value="@prop.id.toString">
	<input type="hidden" name="@v.emptyControlId" id="@v.emptyControlId" value="@v.isInherited.toString">
  </div>
