@(rc:RequestContext, spaces:Seq[(AsName,AsOID,String)])

@user = @{ rc.requester.get }

@main(QuerkiTemplate.SpaceList, "Your Spaces", rc) {

	<div class="page-header">
	  <h1>Your Spaces</h1>
	</div>
	
    <div class="well">
    	<ul>
        @for(space <- spaces) {
            <li><a href="/u/@user.toThingId/@space._1/">@space._3</a> (<a href="/u/@user.id.toThingId/@space._2/">Hard link</a>)</li>
        }
        </ul>
    </div>
    
    <p><a href="/newSpace" class="btn btn-primary">Create a new Space</a></p>
}