@(rc:PlayRequestContext)

@import helper._
@import helper.twitterBootstrap._

@import querki.ecology._

@main(QuerkiTemplate.View, "Send System Message", rc) {
  <h1>Send System Message to All Users</h1>
  
  <p>Compose the message below. All standard QText may be used. DO NOT USE THIS CASUALLY! If we send more than one message
  a week, something is wrong!</p>
  
  @form(routes.AdminController.doSendSystemMessage, 'class -> "") {
    <input type="text" name="header" class="span12" placeholder="Message header">
    <textarea name="body" class="_largeTextEdit span12" placeholder="Message body"></textarea>
    <input type="submit" value="Send Message" class="btn btn-primary">
  }
}
