@(rc:RequestContext)

@import play.api.Logger

@space = @{ rc.state.get }
@thing = @{
  rc.thing match {
    case Some(t) => t
    case None => space
  }
}

@main(QuerkiTemplate.Thing, thing.displayName, rc, true) {

    <script>
      $(function() {
        $(".clickToEdit").on("dblclick", function() {
          window.location = "@routes.Application.editThing(rc.ownerName, space.toThingId, thing.toThingId)";
        });

		function updateValue(evt) {
		  var target = $(evt.target);
		  var prop = target.data("prop");
		  var thingId = target.data("thing");
		  var v;
		  if (target.attr('type') == "checkbox") {
		    v = target.prop('checked');
		  } else {
		    v = target.val();
		  }
	      jsRoutes.controllers.Application.setProperty("@space.owner.toThingId", "@space.id.toThingId", thingId, prop, v).ajax({
	        success: function (result) {
	          // TODO: we should probably have a status indicator
	        },
	        error: function (err) {
	          alert("Error trying to save value: " + err);
	        }
	      });
		}
				
		$(".propEditor").change(updateValue);
		$(".buttonset").buttonset();
      });
    </script>

    @if(rc.hasProp) {
    
      @Html(thing.render(rc, rc.prop).display)

    } else {
	  <div class="clickToEdit">

        @if(!rc.chromeless) {
	    <div class="page-header">
	      <h1>@thing.displayName</h1>
	    }
	
	    @Html(thing.render(rc).display)
	  
	  </div>
	}
}
