@(rc:RequestContext, thing:Thing, chromeless:Boolean = false)

@implicitSpace = @{ rc.state.get }

@main(thing.displayName, rc.requester, NavSection.spaceNav(implicitSpace), Some(implicitSpace), Some(thing), None, chromeless, true) {

    @if(!chromeless) {
	<div class="page-header">
	  <h1>@thing.displayName</h1>
	</div>
	}
	
	<p>@Html(thing.render.display)</p>
	
	@if(!chromeless) {
	<a href="@routes.Application.editThing(implicitSpace.id.toString, thing.id.toString)" class="btn">Edit</a>
	
	<hr/>
	
	<h3>Exported, looks like:</h3>
	
	<p>@thing.export</p>
	
	@if(thing.kind == Kind.Attachment) {
	  <hr/>
	  
	  <a href="@routes.Application.attachment(implicitSpace.id.toString, thing.id.toString)" class="btn">Get Attachment</a>
	}
	}
}