@(rc:RequestContext)

@import play.api.Logger

@space = @{ rc.state.get }
@thing = @{
  rc.thing match {
    case Some(t) => t
    case None => space
  }
}

@main(QuerkiTemplate.Thing, thing.displayName, rc, true) {

    <script>
      $(function() {
        $(".clickToEdit").on("dblclick", function() {
          window.location = "@routes.Application.editThing(rc.ownerName, space.toThingId, thing.toThingId)";
        });
      });
    </script>

    @if(rc.hasProp) {
    
      @Html(thing.render(rc, rc.prop).display)

    } else {
	  <div class="clickToEdit">

        @if(!rc.chromeless) {
	    <div class="page-header">
	      <h1>@thing.displayName</h1>
	    }
	
	    @Html(thing.render(rc).display)
	  
	  </div>
	}
}
