@(rc:RequestContext)

@import models._
@import models.system._
@import querki.values._

@thing = @{ rc.thing.get }
@space = @{ rc.state.get }

@isForeign = @{ thing.spaceId != space.id }

@pageTitle = @{
  // TODO: the hardcoded System below should be the name of the Space this thing is from:
  "Viewing Source of " +
    (if (isForeign) "System::" else "") +
    thing.displayName
}

@setTooltip(prop:Property[_,_]) = {
  @defining(prop.getPropOpt(PropSummary)(space)) { summaryOpt =>
    @if(summaryOpt.isDefined) { title="@{summaryOpt.get.render(prop.thisAsContext(rc)).raw}" }
  }
}

@showValue(v:QValue) = {
  @if(v.pType.isInstanceOf[TextTypeBase]) {
    <pre><code>@v.pType.toUser(v.first)</code></pre>
  } else {
    @Html(v.render(QLRequestContext(rc)).display)
  }
}

@linkTo(t:Thing) = {
  <a href="@routes.Application.thing(rc.ownerId.toThingId, space.toThingId, t.toThingId)">@t.displayName</a>
}

@showProperty(prop:Property[_,_], v:QValue) = {
  <dt class="control-label _withTooltip" @setTooltip(prop)>@Html(prop.getProp(PromptProp)(space).renderPlainOr(prop.getProp(NameProp)(space).renderPlain).raw)</dt>
  <dd>@showValue(v)</dd>
}

@main(QuerkiTemplate.View, pageTitle, rc) {
  <div class="page-header">
	<h1 class="_defaultTitle">@pageTitle <a class="cancelButton btn" href="@routes.Application.thing(rc.ownerName, space.toThingId, thing.toThingId)">Done</a></h1>
    <p class="_smallSubtitle">(@linkTo(space.anything(thing.model).get))</p>
  </div>
	
  <div class="row-fluid">
    <dl>
    @for(prop <- thing.localProps(space)) {
      @defining(thing.getPropOpt(prop)(space)) { propOpt =>
        @if(propOpt.isDefined) {
          @showProperty(prop, propOpt.get.v)
        }
      }
    }
    </dl>
  </div>
}