/*
 * Miscellaneous style tweaks.
 */
 
.btn-primary {
  background-color: #37A807;
}
.btn-primary.active {
  background-color: #0B5703;
}

/*
 * Our standard "paragraph" style. We use divs of this instead of <p>, to work around
 * idiosyncracies of nesting forms inside of <p>. These choices are taken from inspection
 * of how Chrome handles <p>, but aren't sacred.
 */

.para {
    margin-top: 0px;
    margin-bottom: 10px;
}

.well .para:last-child {
  margin-bottom: 0px;
}

/*
 * Tweak for Manifest -- make the width of the Manifest itself always fill the box you give
 * it. Then we can use {{}} operators to control that box.
 */
.para .mf_container {
  width: 100%;
}

/* Equivalent of the span10 for the rest of the controls. */
.controls .mf_container {
  width: 83%;
}

/*
 * Menu tweaks for Querki. The existing menubar doesn't work quite right in our theme, so
 * I have a few modifications to make it look correct.
 *
 * By default, we want the menu items to show with the "soft" background. If we don't
 * give a background, they show with the default content -- which makes the white text
 * almost invisible. When focused, we switch to the hard background instead.
 */
 
.ui-menu-item {
	background: #4eb305 url(images/ui-bg_highlight-soft_50_4eb305_1x100.png) 50% 50% repeat-x;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.ui-menu-item .ui-state-focus{
	background: #285c00 url(images/ui-bg_highlight-hard_30_285c00_1x100.png) 50% 50% repeat-x;
}

/*
 * Buttonset hack.
 *
 * There are well-known horrible conflicts between jQuery UI and Bootstrap. One of them causes
 * a buttonset in a span (which is how we prefer to show optional YesNo buttons) to break, showing
 * one button per line.
 *
 * I haven't yet nailed down the root cause, but the fact that .ui-helper-hidden-accessible is set
 * to position: absolute has something to do with it. So we do this instead. It's a tad dangerous,
 * and may break accessibility for these buttons, but for now we'll cope. Note that we're being
 * deliberately minimalist here, and only making this change inside our buttonsets.
 *
 * TODO: revisit this, and figure out how to make the display not suck while being accessible.
 */
.buttonset .ui-helper-hidden-accessible {
  display: none;
}

/*
 * jQuery, by default, generates preposterously large icon buttons, despite the fact that the
 * icons themselves are only 16 x 16. So we'll simply slam our icon buttons to the size we want.
 */
._iconButton {
   width: 16px !important;
   height: 16px !important;
   padding: 0px !important;
}

/*
 * Styles used in major Querki screens.
 */
 
.indent {
  margin-left: 30px;
}

._thingTree .para {
  margin-top: 0px;
  margin-bottom: 0px;
}

._modelInTree {
  font-weight: bold;
  font-size: larger;
  line-height: 24px;
  vertical-align: middle;
}

._unknownName a {
  color: #bf5615;
}

._defaultTitle {
  margin-bottom: 0px;
}

._smallSubtitle {
  margin-top: 0px;
  font-size: x-small;
}

._warning {
  font-weight: bold;
  background-color: #FAD2DF;
}