@(rc:PlayRequestContext)

@import helper._
@import helper.twitterBootstrap._

@main(QuerkiTemplate.Login, "Request Password Reset", rc) {

	<div class="page-header">
	  <h1>Reset Password</h1>
	</div>
	
	<p>If you have forgotten your Querki handle or password, you can fix that here. Enter either your handle (if you remember it) or
	your email address. We will send you an email with a special one-time link that you can use to set a new password. This email
	will only be valid for two days, so please make sure you keep an eye open for it!</p>
	
	@form(routes.LoginController.doSendPasswordReset, 'class -> "form-inline") {
	  <input type="text" name="name" id="name" value="" placeholder="Handle or Email Address">
	  <input type="submit" value="Send Email" class="btn btn-primary">
	}
}